$minWidth: 1300px;
$footerHeight: 425px;

$colorDarkBlue: #151f39;
$colorLightBlue: #7099cb;
$colorLightBlueHover: #98bbe5;
$colorGrey: #a4a4a4;
$colorBlack: #222;
$colorError: #ff8683;

//$bp1: 1300px;
$bp1: 1620px;
$bp2: 1840px;


@import '../../bower_components/breakpoint-sass/stylesheets/_breakpoint';
@import 'sass/mixins';
@import 'sass/fonts';
@import 'sass/reset';




@import 'sass/main';
@import 'sass/header';
@import 'sass/footer';
@import 'sass/slick';
@import 'sass/fishswim';
@import 'sass/popup';
@import 'sass/rangeslider';
@import 'sass/datepicker';

