footer.footer
	object.fishswim(type="image/svg+xml" data="/img/fish-school.svg")
	object.seaweed(type="image/svg+xml" data="/img/seaweed.svg")
	.inner
		.footer__hook
		a.footer__logo(href='/'): img(src='/img/logo.svg')
		.footer__menu
			.footer__menu-list
				.footer-title информация
				.footer__menu-item: a.footer__menu-link(href='#') Часто задаваемы вопросы
				.footer__menu-item: a.footer__menu-link(href='#') Как сделать заказ
				.footer__menu-item: a.footer__menu-link(href='#') Информация о товарах
				.footer__menu-item: a.footer__menu-link(href='#') Пользовательское
				.footer__menu-item: a.footer__menu-link(href='#') соглашение
				.footer__menu-item: a.footer__menu-link(href='#') Политика
				.footer__menu-item: a.footer__menu-link(href='#') конфидециальности
				.footer__menu-item: a.footer__menu-link(href='#') Возврат
				.footer__menu-item: a.footer__menu-link(href='#') Карта сайта

			.footer__menu-list
				.footer-title каталог товаров
				.footer__menu-item: a.footer__menu-link(href='#') Икра
				.footer__menu-item: a.footer__menu-link(href='#') Рыба
				.footer__menu-item: a.footer__menu-link(href='#') Крабы
				.footer__menu-item: a.footer__menu-link(href='#') Рыба копченая
				.footer__menu-item: a.footer__menu-link(href='#') Раки
				.footer__menu-item: a.footer__menu-link(href='#') Устрицы
				.footer__menu-item: a.footer__menu-link(href='#') Креветки
				.footer__menu-item: a.footer__menu-link(href='#') Гребешок
				.footer__menu-item: a.footer__menu-link(href='#') Подарочные наборы
				.footer__menu-item: a.footer__menu-link(href='#') Прочие товары
				.footer__menu-item: a.footer__menu-link(href='#') Мидии
				.footer__menu-item: a.footer__menu-link(href='#') Кальмары

			.footer__menu-list
				.footer-title о компании
				.footer__menu-item: a.footer__menu-link(href='#') Доставка
				.footer__menu-item: a.footer__menu-link(href='#') Оплата
				.footer__menu-item: a.footer__menu-link(href='#') О нас
				.footer__menu-item: a.footer__menu-link(href='#') Бонусная программа
				.footer__menu-item: a.footer__menu-link(href='#') Контакты
				.footer__menu-item: a.footer__menu-link(href='#') Отзывы

		.footer__info
			.footer__info-phone +7 495 532 52 87
			.footer__info-time пн-пт  9:00 - 20:00 МСК
			.footer-title мы в соц.сетях
			.footer__info-soc
				.soc
					a.soc__item.soc__item_vk(href='#')
					a.soc__item.soc__item_fb(href='#')
					a.soc__item.soc__item_ig(href='#')
			.footer-title мы принимаем к оплате
			.footer__info-pay
				span: img(src='/img/ico-fpay-visa.svg')
				span: img(src='/img/ico-fpay-ya.svg')
				span: img(src='/img/ico-fpay-wm.svg')
				span: img(src='/img/ico-fpay-qiwi.svg')
				span: img(src='/img/ico-fpay-mc.svg')
