header.header
	.inner
		a.header__logo(href='/'): img(src='/img/logo.svg')
		.header__nav
			.header__nav-list
				.header__nav-item: a.header__nav-link(href='#') Оплата
				.header__nav-item: a.header__nav-link(href='#') Доставка
				.header__nav-item: a.header__nav-link(href='#') Бонусная программа
				.header__nav-item: a.header__nav-link(href='#') О нас
				.header__nav-item: a.header__nav-link(href='#') Отзывы
				.header__nav-item: a.header__nav-link(href='#') Контакты
			form.header__search(action='/', method='post')
				.header__search-input: input.js-input-search(type='text')
				.header__search-submit: input(type='submit', value=' ')
				.header__search-result
					if ( temple == 'search'    )
						.result
							.result__title <b>Рыб</b>а <i>Раздел каталога</i>
							.result__list
								.result__item.js-search-result-item(data-value="Рыба копченая") <b>Рыб</b>а копченая
								.result__item.js-search-result-item(data-value="Рыба свежемороженая") <b>Рыб</b>а свежемороженая
								.result__item.js-search-result-item(data-value="Рыба свежевыжатая") <b>Рыб</b>а свежевыжатая
								.result__item.js-search-result-item(data-value="Рыба вяленая") <b>Рыб</b>а вяленая
		.header__contact
			.header__contact-city: a(href='#') Санкт-Петербург
			.header__contact-phone +7 495 532 52 87
			.header__contact-time пн-пт  9:00 - 20:00 МСК
		.header__cart
			.header__cart-user: a(href='#') Войти
			.header__cart-item 0
			a.header__cart-title(href='#') Корзина
			.header__cart-text Ваша корзина пуста
