//mixin cardItem(status, tags, part, title, oldPrice, newPrice, '/img/misc/prod_2.jpg')
mixin cardItem(status, tags, part, title, oldPrice, newPrice, weight, image)
	.card__item(class='card__item_#{status}')
		.card__inner
			.tag
				each tag in tags
					.tag__item(class='tag__item_#{tag}')
						if ( tag == 'sale' )
							| - 30% КАРТОЙ ОНЛАЙН
						else if ( tag == 'recom' )
							| РЕКОМЕНДУЕМ
						else if ( tag == 'hit' )
							| ХИТ
						else if ( tag == 'new' )
							| НОВИНКА
			.card__img: img(src='#{image}', alt='#{title}')
			.card__info
				.card__info-part #{part}
				.card__info-title !{title}
				.card__info-price
					if ( oldPrice )
						.price__old #{oldPrice}
					.price__cur #{newPrice} <span>#{weight}</span>
					if ( status == 'in')
						.price__status В наличии
					else if ( status == 'out')
						.price__status Нет в наличии
					else if ( status == 'order')
						.price__status Под заказ
			.card__info.card__info_more
				.card__info-buy
					if ( status == 'in')
						a.btn(href='#') В корзину
					else if ( status == 'out')
						a.btn(href='#') Сообщите мне о появлении
					else if ( status == 'order')
						a.btn(href='#') Заказать
				.card__info-text.
					#[b Описание:] Охлажденный.#[br]
					Очищенное филе.#[br]
					#[b Вес стейка:] 1 кг#[br]
					#[b Вылов:] Россия, Тихий океан.#[br]
					#[b Упаковка:] Индивидуальная.#[br]
					#[br]
					#[b Доставка:] В день оформления заказа.

mixin cardPart(image, title, num)
	.card__item
		a.card__inner(href='#')
			.card__img: img(src='#{image}', alt='#{title}')
			.card__info
				.card__info-title !{title}
				.card__info-part Товаров в категории: <span>#{num}</span>
