nav.nav
	.inner
		ul.nav__list
			li.nav__item: a.nav__link(href='#') икра
			li.nav__item: a.nav__link(href='#') рыба
			li.nav__item: a.nav__link(href='#') крабы
			li.nav__item: a.nav__link(href='#') рыба копченая
			li.nav__item: a.nav__link(href='#') раки
			li.nav__item: a.nav__link(href='#') устрицы
			li.nav__item: a.nav__link(href='#') креветки
			li.nav__item: a.nav__link(href='#') гребешок
			li.nav__item: a.nav__link(href='#') подарочные наборы
			li.nav__item: a.nav__link(href='#') прочие товары
			li.nav__item: a.nav__link(href='#') мидии
			li.nav__item: a.nav__link(href='#') кальмары
			li.nav__item.nav__item_r: a.nav__link(href='#') faq?