//-.popup.popup_regsuccess
	.popup-inner
		.popup-layout
			.popup-close
			.popup-content
				.popup-content
					.popup-title подтверждение регистрации
					.popup-text
						| Вы успешно прошли регистрацию на нашем сайте,
						br
						| на указанную почту отправлено письмо для
						br
						| подтверждения регистрации.
				.popup-link
					span.btn Ок
	.popup-overlay


//-.popup.popup_passrecoverysuccess
	.popup-inner
		.popup-layout
			.popup-close
			.popup-content
				.popup-content
					.popup-title восстановление пароля
					.popup-text
						| Инструкции по восстановлению пароля были
						br
						| направлены на адрес
						span asdasQ@dasd.asd
				.popup-link
					span.btn Ок
	.popup-overlay

.popup.popup_ordersuccess
	.popup-inner
		.popup-layout
			.popup-close
			.popup-content
				.popup-title подтверждение покупки
				.popup-text Спасибо за заказ, мы скоро свяжемся с Вами.<br>Детали заказа отправлены Вам на почту <span>zakaz@suda.ru</span>
				.popup-link
					span.btn.js-popup-close Ок
	.popup-overlay

.popup.popup_quick
	.popup-inner
		.popup-layout
			.popup-close
			form.form.form_auth.js-form-ajax(action='/data/test.php', method='post', data-type="quick-order")
				.popup-content
					.popup-title быстрая покупка
					.popup-name заказ 4235
					.popup-form
						.form__row
							.form__col.form__col_2
								.form__field
									.form__label Ваше имя
									.form__input
										input(type='text', name='user-name', data-required='true')
										.form__error Текст ошибки
							.form__col.form__col_2
								.form__field
									.form__label Телефон
									.form__input
										input(type='text', name='phone', data-required='phone')
										.form__error Текст ошибки
							.form__col.form__col_2
								.form__field
									.form__label E-mail
									.form__input
										input(type='text', name='user-email', data-required='email')
										.form__error Текст ошибки
							.form__col.form__col_2
								.form__field.form__field_text
									.form__label &nbsp;
									.form__input Наши менеджеры свяжутся с Вами в ближайшее время,номер заказа будет продублирован Вам на почту.
					.form__row
						.form__col.form__col_1
							.form__field.form__field_submit
								.form__input
									input.btn(type='submit', value='Купить')
	.popup-overlay


.popup.popup_feedback
	.popup-inner
		.popup-layout
			.popup-close
			form.form.form_auth.js-form-ajax(action='/data/test.php', method='post', data-type="quick-order")
				.popup-content
					.popup-title написать отзыв
					.popup-form
						.form__row
							.form__col.form__col_2
								.form__field
									.form__label Ваше имя#[sup.required]
									.form__input
										input(type='text', name='user-name', data-required='true')
										.form__error Текст ошибки
							.form__col.form__col_2
								.form__field
									.form__label E-mail#[sup.required]
									.form__input
										input(type='text', name='user-email', data-required='email')
										.form__error Текст ошибки
							.form__col.form__col_1
								.form__field.form__field_textarea
									.form__label Отзыв#[sup.required]
									.form__input
										textarea(data-required='true')
										.form__error Текст ошибки
					.form__row
						.form__col.form__col_1
							.form__field.form__field_submit
								.form__input
									input.btn(type='submit', value='Отправить отзыв')
	.popup-overlay


.popup.popup_remind
	.popup-inner
		.popup-layout
			.popup-close
			form.form.form_auth.js-form-ajax(action='/data/test.php', method='post', data-type="quick-order")
				.popup-content
					.popup-title сообщите мне о появлении товара

					.popup-order
						.popup-order__img: img(src='/img/misc/prod_6.jpg', alt='')
						.popup-order__text краб камчатский свежевыжатый, 3 кг краб камчатский свежемороженный
						.popup-order__cost
							.popup-order__price 1 890 <span>Руб.</span>
							.popup-order__footnote #[sup.red *] Цена может измениться на момент поступления

					.popup-form
						.form__row
							.form__col.form__col_2
								.form__field
									.form__label Ваше имя#[sup.required]
									.form__input
										input(type='text', name='user-name', data-required='true')
										.form__error Текст ошибки
							.form__col.form__col_2
								.form__field
									.form__label E-mail#[sup.required]
									.form__input
										input(type='text', name='user-email', data-required='email')
										.form__error Текст ошибки
					.form__row
						.form__col.form__col_1
							.form__field.form__field_submit
								.form__input
									input.btn.btn_red(type='submit', value='Сообщите мне о появлении')
	.popup-overlay


.popup.popup_map
	.popup-inner
		.popup-layout
			.popup-close

			.popup-content
				.popup-title отметить адрес на карте

				.popup-map
					#map-address

				script.
					ymaps.ready(function () {
						var myMap = new ymaps.Map('map-address', {
									center: [59.923440, 30.460873],
									zoom: 12,
									controls: []
								}),
								myPlacemark = new ymaps.Placemark([59.923440, 30.460873],
										{},
										{
											iconLayout: 'default#image',
											iconImageHref: '/img/map-marker.png',
											iconImageSize: [28, 39],
											iconImageOffset: [-14, -39]
										});
						//myMap.controls.add('zoomControl');

						var zoomControl = new ymaps.control.ZoomControl({
							options: {
								position: {
									top: 20,
									left: 20
								},
								size: 'small'
							}
						});
						myMap.controls.add(zoomControl);

						myMap.geoObjects.add(myPlacemark);

						myMap.behaviors.disable('scrollZoom');

					});

				.popup-addres
					.form__field.popup-addres__field
						.form__label Адрес
						.form__input
							input.js-address-map-input(type='text', name='user-name')
					.form__field.form__field_submit.popup-addres__submit
						.form__label &nbsp;
						.form__input
							button.js-address-map-btn.btn(disabled='disabled') Ок
	.popup-overlay
