extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing

block head

block content

	section.section.section_cart
		.inner
			.cart
				.cart__menu
					.cart__menu-item.is-active
						.cart__menu-title.js-frame 1. ваша корзина
						.cart__menu-text
					.cart__menu-item.is-active
						.cart__menu-title.js-frame 2. оформление заказа
						.cart__menu-text
					.cart__menu-item
						.cart__menu-title.js-frame 3. подтверждение
						.cart__menu-text

	section.section.section_line
		.line
			.line-handler

	section.section.section_cart
		.inner
			.cart
				.cart__order
					form.form.form_auth.js-form-ajax(action='/data/test.php', method='post', data-type="order")
						.cart__order-title контактная информация
						.cart__order-form.cart__order-form_contact
							.form__row

								.form__col.form__col_2
									.form__field
										.form__label Имя#[sup.required]
										.form__input
											input(type='text', name='user-name', data-required='true')
											.form__error Текст ошибки

								.form__col.form__col_2
									.form__field
										.form__label Фамилия#[sup.required]
										.form__input
											input(type='text', name='user-sername', data-required='true')


								.form__col.form__col_2
									.form__field
										.form__label E-mail#[sup.required]
										.form__input
											input(type='text', name='user-email', data-required='email')
											.form__error Текст ошибки

								.form__col.form__col_2
									.form__field
										.form__label Контактный телефон#[sup.required]
										.form__input
											input(type='text', name='phone', data-required='phone')

							.form__field.form__field_checkbox
								.form__input
									input#check1(type='checkbox', name='', checked='checked')
									label(for='check1') Стать постоянным покупателем
									.form__footnote Вы сможете видеть историю заказов, проще делать новые и получать скидки.



						.cart__order-title адрес получателя
						.cart__order-form.cart__order-form_address
							.form__row

								.form__col.form__col_2
									.form__field
										.form__label Укажите адрес доставки#[sup.required]
										.form__input
											input(type='text', name='user-name', data-required='true', placeholder='Укажите улицу, дом, подъезд и номер квартиры')
											.form__error Текст ошибки

								.form__col.form__col_3
									.form__field
										.form__label &nbsp;
										.form__input
											a.btn(href='#'): span Отметить адрес на карте
							.form__row

								.form__col.form__col_4
									.form__field
										.form__label Дата#[sup.required]
										.form__input
											input.input-datepicker.js-datepicker(type='text', name='user-date', data-required='true')
											.form__error Текст ошибки

								.form__col.form__col_4
									.form__field
										.form__label Удобное время#[sup.required]
										.form__input
											input.input-time.js-timepicker(type='text', name='user-time', data-required='true')
											.timepicker
												.timepicker__list
													.timepicker__item.is-disable 10:00 - 14:00
													.timepicker__item 14:00 - 18:00
													.timepicker__item 18:00 - 21:00
											.form__error Текст ошибки

								.form__col.form__col_2
									.form__field
										.form__label Примечание к заказу#[sup.required]
										.form__input
											input(type='text', name='user-note', data-required='true', placeholder='Например: как лучше к Вам проехать, код от домофона')
											.form__error Текст ошибки




						.cart__order-title Выберите способ доставки
						.cart__order-form.cart__order-form_delivery
							.form__row
								.form__col.form__col_2
									.form__field.form__field_delivery
										.form__input
											input#radio1(type='radio', name='delivery', checked='checked')
											label.delivery-radio(for='radio1')
												.delivery-radio__img: img(src='/img/delivery-spb.svg' )
												.delivery-radio__title доставка по санкт-петербургу
												.delivery-radio__text #[b Срок] доставки: завтра, 1 ноября#[br]Доставка осуществляется в удобное для вас время
												.delivery-radio__cost бесплатно

								.form__col.form__col_2
									.form__field.form__field_delivery
										.form__input
											input#radio2(type='radio', name='delivery')
											label.delivery-radio(for='radio2')
												.delivery-radio__img: img(src='/img/delivery-lo.svg' )
												.delivery-radio__title доставка по лен.области
												.delivery-radio__text #[b Срок доставки:] завтра, 1 ноября#[br]Доставка осуществляется в удобное для вас время
												.delivery-radio__cost 25 руб./км

								.form__col.form__col_2
									.form__field.form__field_delivery
										.form__input
											input#radio3(type='radio', name='delivery', disabled='disabled')
											label.delivery-radio(for='radio3')
												.delivery-radio__img: img(src='/img/delivery-im.svg' )
												.delivery-radio__title самовывоз
												.delivery-radio__text #[b Адрес:] Восстания, д.1, офис 202#[br]Восстания, д.1, офис 202
												.delivery-radio__cost бесплатно


						.cart__order-title Выберите способ оплаты
						.cart__order-form.cart__order-form_payment
							.form__row
								.form__col.form__col_2
									.form__field.form__field_payment
										.form__input
											input#radio4(type='radio', name='payment', checked='checked')
											label.payment-radio(for='radio4')
												.payment-radio__img: img(src='/img/payment-cash.svg' )
												.payment-radio__title наличными или картой при получении
												.payment-radio__text Вы сможете оплатить заказ курьеру при получении.

								.form__col.form__col_2
									.form__field.form__field_payment
										.form__input
											input#radio5(type='radio', name='payment')
											label.payment-radio(for='radio5')
												.payment-radio__img: img(src='/img/payment-card.svg' )
												.payment-radio__title картой онлайн
												.payment-radio__text Завтра, 1 ноября Доставка осуществляется в удобное для вас время

								.form__col.form__col_2
									.form__field.form__field_payment
										.form__input
											input#radio6(type='radio', name='payment')
											label.payment-radio(for='radio6')
												.payment-radio__img
												.payment-radio__title безналичный расчет
												.payment-radio__text Мы сформируем для Вас счет на оплату, Вы сможете оплатить его через свой банк.

								.form__col.form__col_2
									.form__field.form__field_payment
										.form__input
											input#radio7(type='radio', name='payment')
											label.payment-radio(for='radio7')
												.payment-radio__img: img(src='/img/payment-yandex.png' )
												.payment-radio__title яндекс.деньги
												.payment-radio__text Вы можете оплатить заказ через систему Яндекс.Деньги

								.form__col.form__col_2
									.form__field.form__field_payment
										.form__input
											input#radio8(type='radio', name='payment')
											label.payment-radio(for='radio8')
												.payment-radio__img: img(src='/img/payment-qiwi.png' )
												.payment-radio__title qiwi
												.payment-radio__text Вы можете оплатить заказ через систему QIWI

						.cart__order-form.cart__order-form_submit
							.form__row
								.form__col.form__col_3
									.form__field.form__field_submit
										.form__input
											input.btn(type='submit', value='Оформить заказ')
								.form__col.form__col_2-3
									.form__field.form__field_text
										.form__input Нажмите кнопку «Оформить заказ», мы свяжемся с вами в течение 15 минут и все согласуем. Ваш заказ будет собран и передан в доставку.



				.cart__preview
					.cart__preview-inner
						.cart__preview-item
							.cart__preview-img: img(src='/img/misc/prod_6.jpg', alt='')
							.cart__preview-name краб камчатский свежемороженный, 3 кг
							.cart__preview-sum Количество: <span>1 шт.</span>
							.cart__preview-price 1 890 <span>Руб.</span>
						.cart__preview-item
							.cart__preview-img: img(src='/img/misc/prod_8.jpg', alt='')
							.cart__preview-name осьминог охлажденный, 800&nbsp;г осьминог охлажденный, 800&nbsp;г осьминог охлажденный, 800&nbsp;г
							.cart__preview-sum Количество: <span>1 шт.</span>
							.cart__preview-price 1 327 <span>Руб.</span>

						.cart__preview-footer
							.cart__preview-info
								.cart__preview-info-name Сумма заказа
								.cart__preview-info-val 3 780 <span>Руб.</span>
							.cart__preview-info
								.cart__preview-info-name Сумма скидки
								.cart__preview-info-val 0 <span>Руб.</span>
							.cart__preview-info
								.cart__preview-info-name Сумма доставки
								.cart__preview-info-val 370 <span>Руб.</span>
						hr
						.cart__preview-footer
							.cart__preview-cost
								.cart__preview-cost-name Итого к оплате
								.cart__preview-cost-val 1 327 <span>Руб.</span>
