extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing

block head

block content

	section.section.section_cart
		.inner
			.cart
				.cart__menu
					.cart__menu-item.is-active
						.cart__menu-title.js-frame 1. ваша корзина
						.cart__menu-text
					.cart__menu-item
						.cart__menu-title.js-frame 2. оформление заказа
						.cart__menu-text
					.cart__menu-item
						.cart__menu-title.js-frame 3. подтверждение
						.cart__menu-text

	section.section.section_line
		.line
			.line-handler

	section.section.section_cart
		.inner
			.cart
				.cart__list
					.cart__list-item

						.cart__list-img: img(src='/img/misc/prod_6.jpg', alt='')
						.cart__list-info
							.cart__list-part Крабы
							.cart__list-name краб камчатский свежемороженный, 3 кг
						.cart__list-sum
							.order-sum(data-step='3')
								.order-sum__less.js-product-order-sum
								.order-sum__val 3
								.order-sum__more.js-product-order-sum
						.cart__list-cost
							.cart__list-price 1 890 <span>Руб.</span>
							.cart__list-clear(data-tooltip='Удалить')

					.cart__list-item
						.cart__list-img: img(src='/img/misc/prod_8.jpg', alt='')
						.cart__list-info
							.cart__list-part Кальмары / Осьминоги
							.cart__list-name осьминог охлажденный, 800&nbsp;г осьминог охлажденный, 800&nbsp;г осьминог охлажденный, 800&nbsp;г
						.cart__list-sum
							.order-sum(data-step='0.8')
								.order-sum__less.js-product-order-sum
								.order-sum__val 0.8
								.order-sum__more.js-product-order-sum
						.cart__list-cost
							.cart__list-oldprice 1390
							.cart__list-price 1 327 <span>Руб.</span>
							.cart__list-clear(data-tooltip='Удалить')

	hr

	section.section.section_cart
		.inner
			.cart
				.cart__result
					.cart__result-clear
						.cart__result-title Очистить корзину
						.cart__result-bin
							i.js-clear-cart(data-tooltip='Очистить<br>корзину')
					.cart__result-cost
						.cart__result-title Итого:
						.cart__result-price 1 327 <span>Руб.</span>
					.cart__result-footnote Стоимость без учета доставки

				.cart__btns
					.btn.btn_link Вернуться к покупкам
					.btn.btn_border Оформить в 1 клик
					.btn Оформить заказ
