extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing

block head

block content

	section.section.section_cart
		.inner
			.cart
				.cart__menu
					.cart__menu-item.is-active
						.cart__menu-title.js-frame 1. ваша корзина
						.cart__menu-text
					.cart__menu-item.is-active
						.cart__menu-title.js-frame 2. оформление заказа
						.cart__menu-text
					.cart__menu-item.is-active
						.cart__menu-title.js-frame 3. подтверждение
						.cart__menu-text

	section.section.section_line
		.line
			.line-handler

	section.section.section_cart
		.inner
			.cart
				.cart__details
					.cart__details-title ваш заказ #[span 4935] принят.
					.cart__details-text В ближайшее время с вами свяжется сотрудник интернет-магазина, чтобы подтвердить заказ. Мы так же отправим вам детали заказа на почту указанную Вами. #[br]Если заказ оформлен в ночное время, то Вам перезвонят с 9:00 до 12:00 по Московскому времени. #[br]Если с Вами не связались, пожалуйста позвоните по бесплатному номеру 8 (800) 000 00 00 (круглосуточно), указав номер заказа.
					.cart__details-title детали заказа
					.cart__details-text.
						#[b Контактная информация:] Валера Валерьев, zakaz@tut.ru, 8 (911) 111 11 11 #[br]
						#[b Адрес получателя:] ул.Валеры Валерьевича, д.888, кв.3667 #[br]
						#[b Дата и время:] 26 декабря с 10:00 до 14:00 #[br]
						#[b Примечание:] Позовите Валеру #[br]
						#[br]
						#[b Итого:] 1 370 руб. #[br]
						#[b Доставка:] Самовывоз из интернет-магазина #[br]
						#[b Способ оплаты:] Наличными или картой при получении

					.cart__details-title схема проезда
					.cart__details-text.
						#[b Адрес:] м.Пл.Восстания, ул.Валеры Валерьевича, д.888, кв.3667#[br]
						#[b Режим работы:] пн-пт с 10:00 до 14:00#[br]
						#[b Как найти:] м.Пл.Восстания, БЦ какой-то там, спросите Валеру

					.cart__details-map
						#map-details

						script.
							ymaps.ready(function () {
								var myMap = new ymaps.Map('map-details', {
											center: [59.923440, 30.460873],
											zoom: 12,
											controls: []
										}),
										myPlacemark = new ymaps.Placemark([59.923440, 30.460873],
												{},
												{
													iconLayout: 'default#image',
													iconImageHref: '/img/map-marker.png',
													iconImageSize: [28, 39],
													iconImageOffset: [-14, -39]
												});
								//myMap.controls.add('zoomControl');

								var zoomControl = new ymaps.control.ZoomControl({
									options: {
										position: {
											top: 20,
											left: 20
										},
										size: 'small'
									}
								});
								myMap.controls.add(zoomControl);

								myMap.geoObjects.add(myPlacemark);

								myMap.behaviors.disable('scrollZoom');

							});

				.cart__comment
					.cart__comment-text особенности получения заказа при доставке курьером
					.cart__comment-text я заметил ошибку в контактах



