extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing

block head

block content

	section
		.inner
			.breadcrumbs
				.breadcrumbs__list
					a.breadcrumbs__item(href='#') Главная
					a.breadcrumbs__item(href='#') Рыба
			.title рыба

	section.section.section_filter
		.inner
			.filter
				.filter__list
					.filter__item.filter_item_range
						.filter__title Стоимость, руб.
						.filter-range(data-range-min='0', data-range-max='50000', data-val-min='10', data-val-max='35800')
							input.i-from(type='text', disabled='', name='timeFrom', value='0', hidden)
							input.i-to(type='text', disabled='', name='timeTo', value='90', hidden)
					.filter__item.filter_item_checkbox
						.filter__title Страна
						.filter-checkbox
							input#check1(type='checkbox', name='russia')
							label(for='check1') Россия
						.filter-checkbox
							input#check2(type='checkbox', name='finland')
							label(for='check2') Финляндия
					.filter__item.filter_item_checkbox
						.filter__title Замороженно в море
						.filter-checkbox
							input#check3(type='checkbox', name='seafrozen')
							label(for='check3') Да

					.filter__result
						.filter__result-text Найдено : 2
						.btn.filter__result-btn Показать
						.btn.btn_grey.filter__result-btn Очистить



	section.section.section_card
		.inner
			.sorter
				.sorter-name Сортировать по:
				a.sorter-link.is-active(href='#') самые популярные
				a.sorter-link(href='#') самые дорогие
				a.sorter-link(href='#') самые дешевые
			.card
				.card__list
					+cardItem('order', [], 'Крабы', 'краб кмчатский свежемороженный, 3&nbsp;кг', '', '1 890', 'Руб.', '/img/misc/prod_6.jpg')
					+cardItem('order', [], 'Крабы', 'мясо камчатского краба, роза, 500&nbsp;г', '', '266', 'Руб.', '/img/misc/prod_7.jpg')
					+cardItem('order', [], 'Кальмары / Осьминоги', 'осьминог охлажденный, 800&nbsp;г', '', '1327', 'Руб.', '/img/misc/prod_8.jpg')
					+cardItem('out', [], 'Икра', 'икра черная стерляжья, 100&nbsp;г', '', '35 500', 'Руб.', '/img/misc/prod_9.jpg')
					+cardItem('out', [], 'Рыба', 'нерка свежемороженная. стейки, 1&nbsp;кг', '', '890', 'Руб./кг', '/img/misc/prod_2.jpg')
					+cardItem('in', [], 'Морепродукты', 'кальмар дальневосточный охлажденный, 1&nbsp;кг', '', '755', 'Руб.', '/img/misc/prod_4.jpg')
					+cardItem('in', [], 'Рыба', 'окунь морской охлажденный, 1&nbsp;кг', '36 500', '35 500', 'Руб.', '/img/misc/prod_5.jpg')
					+cardItem('order', [], 'Крабы', 'краб кмчатский свежемороженный, 3&nbsp;кг', '', '1 890', 'Руб.', '/img/misc/prod_6.jpg')
					+cardItem('order', [], 'Крабы', 'мясо камчатского краба, роза, 500&nbsp;г', '', '266', 'Руб.', '/img/misc/prod_7.jpg')
					+cardItem('order', [], 'Кальмары / Осьминоги', 'осьминог охлажденный, 800&nbsp;г', '', '1327', 'Руб.', '/img/misc/prod_8.jpg')
					+cardItem('out', [], 'Икра', 'икра черная стерляжья, 100&nbsp;г', '', '35 500', 'Руб.', '/img/misc/prod_9.jpg')
					+cardItem('out', [], 'Рыба', 'нерка свежемороженная. стейки, 1&nbsp;кг', '', '890', 'Руб./кг', '/img/misc/prod_2.jpg')
					+cardItem('in', [], 'Морепродукты', 'кальмар дальневосточный охлажденный, 1&nbsp;кг', '', '755', 'Руб.', '/img/misc/prod_4.jpg')
					+cardItem('in', [], 'Рыба', 'окунь морской охлажденный, 1&nbsp;кг', '36 500', '35 500', 'Руб.', '/img/misc/prod_5.jpg')


	section.section_paginator
		.inner
			.paginator
				.paginator__name Страницы:
				a.paginator__item(href='#') 1
				a.paginator__item.is-active(href='#') 2
				a.paginator__item(href='#') 3
				.paginator__item ...
				a.paginator__item(href='#') 6
				a.paginator__item.paginator__item_prev(href='#') Назад
				a.paginator__item.paginator__item_next(href='#') Вперед

	section.section.section_text
		.inner
			.text.text_half
				.text__item
					h3 FISH MAGAZ - магазин свежей рыбы и морепродуктов
					p Молодая динамично развивающаяся компания. Наш коллектив сложился из высоких профессионалов бизнеса рыбы и морепродуктов, которые любят свое дело, разбираются во всех аспектах своей профессии и хотят делать жизнь и работу людей проще, лучше и вкуснее.
					h3 Широкий ассортимент
					p Мы поставляем рыбу, икру и морепродукцию напрямую с Дальнего Востока, Санкт-Петербурга, Мурманска и многих стран мира. Все поставки и качество поставляемой продукции контролируются собственными сотрудниками в Мурманске, Владивостоке, Петербурге, в Южно-Сахалинске. Рефрежераторами продукция доставляется к нам в Москву на хладокомбинат «Меридиан» и хранится на морозильных складах при температуре -18-24°С.

				.text__item
					h3 Бонусы и скидки
					p Компания fish.lid24 любит и ценит своих клиентов независимо от их статуса и объемов закупки. Это могут быть рестораны, бары, кафе, предприятия общественного питания, гостиницы, другие предприятия сегмента HoReCa, перерабатывающие предприятия. И конечно же обычные люди, которые устали от низкокачественных продуктов из супермаркетов и хотят употреблять в пищу экологически чистую, высококачественную рыбу, икру и морепродукты. Наша продукция является экологически чистой, практически вся она замораживается в море на бортах рыболовных траулеров. Здесь она не проходит никакой предпродажной подготовки, не накачивается различными гелями, растворами, улучшителями и остальными вредными для здоровья ингридиентами.
					p FISH MAGAZ - это всегда самая вкусная икра, свежемороженая рыба и морепродукты с доставкой и улыбкой! Наш клиент всегда доволен и прав!

