extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing

block head

block content

	section
		.inner
			.breadcrumbs
				.breadcrumbs__list
					a.breadcrumbs__item(href='#') Главная
					a.breadcrumbs__item(href='#') Контакты

	section.section.section_contacts
		.inner
			.title Контакты

			.contacts
				.contacts__item
					.contacts__item-img
						.contacts__img
					.contacts__item-title
						.contacts__title адрес
					.contacts__item-info
						.contacts__info-title санк-петербург
						.contacts__info-text пл.Восстания, д.1 офис 255 (БЦ Восстания-1)<br>Ежедневно с 10:00 - 16:00 МСК

				.contacts__item
					.contacts__item-img
						.contacts__img
					.contacts__item-title
						.contacts__title телефон
					.contacts__item-info
						.contacts__info-title 8 800 225-25-25
						.contacts__info-text пл.Восстания, д.1 офис 255 (БЦ Восстания-1)<br>Ежедневно с 10:00 - 16:00 МСК

				.contacts__item
					.contacts__item-img
						.contacts__img
					.contacts__item-title
						.contacts__title почта
					.contacts__item-info
						.contacts__info-title client@fishmagaz.ru
						.contacts__info-text пл.Восстания, д.1 офис 255 (БЦ Восстания-1)<br>Ежедневно с 10:00 - 16:00 МСК

				.contacts__item
					.contacts__item-img
						.contacts__img
					.contacts__item-title
						.contacts__title реквизиты
					.contacts__item-info
						.contacts__info-title санк-петербург
						.contacts__info-text.
							#[b ИНН]: 1234567890<br>
							#[b КПП]: 123456789<br>
							#[b Расчетный счет]: 0000 0000 0000 0000 0000<br>
							#[b Банк]: ОАО "Сбербанк России", г. Москва<br>
							#[b Банковские реквизиты]: БИК 044525225<br>
							#[b Корреспондентский счет]: 30101 810 4 0000 0000225

				.contacts__item
					.contacts__item-img
						.contacts__img
					.contacts__item-title
						.contacts__title мы в соц.сетях
					.contacts__item-info
						.contacts__info-title
							.soc__item.soc__item_vk
							a(href='#') группа вконтакте
						.contacts__info-title
							.soc__item.soc__item_fb
							a(href='#') мы на facebook
						.contacts__info-title
							.soc__item.soc__item_ig
							a(href='#') инстаграмм

	section.section.section_map
		#map-wrap
		script.
			ymaps.ready(function () {
				var myMap = new ymaps.Map('map-wrap', {
							center: [55.687186, 37.884559],
							zoom: 13,
							controls: []
						}),
						myPlacemark = new ymaps.Placemark([55.687186, 37.854559],
								{},
								{
									iconLayout: 'default#image',
									iconImageHref: '/img/map-contact.png',
									iconImageSize: [283, 50],
									iconImageOffset: [-21, -50]
								});
				//myMap.controls.add('zoomControl');

				var zoomControl = new ymaps.control.ZoomControl({
					options: {
						position: {
							top: 20,
							left: 20
						},
						size: 'small'
					}
				});
				myMap.controls.add(zoomControl);

				myMap.geoObjects.add(myPlacemark);

				myMap.behaviors.disable('scrollZoom');

			});