extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing

block head

block content

	section
		.inner
			.breadcrumbs
				.breadcrumbs__list
					a.breadcrumbs__item(href='#') Главная
					a.breadcrumbs__item(href='#') Доставка

	section.section.section_delivery
		.inner
			.title доставка
			.delivery
				.delivery__item
					.delivery__info
						.delivery__info-item.delivery__info-item_main
							.delivery__img: img(src='/img/delivery-spb.svg', alt='')
							.delivery__title доставка по<br>санкт-петербургу
						.delivery__info-item
							.delivery__text Заказ менее 1 000 руб.
							.delivery__title 250 руб.
						.delivery__info-item
							.delivery__text Заказ более 1 000 руб.
							.delivery__title бесплатно
						.delivery__info-item
							.delivery__showmore
					.delivery__more
						.delivery__more-text
							p Наш курьер доставит заказ по указанному адресу с 9:00 до 23:00 в выбранный вами интервал времени (из предложенных при оформлении заказа). Курьер дополнительно свяжется с вами перед выездом (ориентировочно за 1 час). По указанному адресу курьер будет ждать 15 минут, после чего мы оставляем за собой право перенести доставку на другое время, согласовав его с вами.
							p При оплате картой курьер интернет-магазина приедет с товаром и переносным терминалом, с помощью которого можно будет осуществить оплату. Внимание! Только в пределах КАД.<br>Доставка за пределы КАД осуществляется на следующий день после оформления заказа.<br>Доставка в Петергоф и Кронштадт осуществляется по тарифу Лен.области.
						.delivery__more-pay
							.delivery__more-title возможные способы оплаты
							.delivery__more-card
								.delivery__more-card-img
									img(src='/img/ico-pay-visa.svg')
									img(src='/img/ico-pay-mastercard.svg')
								.delivery__more-card-text банковские карты
							.delivery__more-card
								.delivery__more-card-img
									img(src='/img/ico-pay-ya.png')
								.delivery__more-card-text наличными
							.delivery__more-card
								.delivery__more-card-img
									img(src='/img/ico-pay-qiwi.png')
								.delivery__more-card-text qiwi
							.delivery__more-card
								.delivery__more-card-img
									img(src='/img/ico-pay-ya.png')
								.delivery__more-card-text яндекс.деньги

				.delivery__item
					.delivery__info
						.delivery__info-item.delivery__info-item_main
							.delivery__img: img(src='/img/delivery-lo.svg', alt='')
							.delivery__title доставка по лен.области
						.delivery__info-item
							.delivery__text Заказ менее 1 000 руб.
							.delivery__title 250 руб. + 10 руб./км
						.delivery__info-item
							.delivery__text Заказ более 1 000 руб.
							.delivery__title 0 руб. + 10 руб./км
						.delivery__info-item
							.delivery__showmore
					.delivery__more
						.delivery__more-text
							p Наш курьер доставит заказ по указанному адресу с 9:00 до 23:00 в выбранный вами интервал времени (из предложенных при оформлении заказа). Курьер дополнительно свяжется с вами перед выездом (ориентировочно за 1 час). По указанному адресу курьер будет ждать 15 минут, после чего мы оставляем за собой право перенести доставку на другое время, согласовав его с вами.
							p При оплате картой курьер интернет-магазина приедет с товаром и переносным терминалом, с помощью которого можно будет осуществить оплату. Внимание! Только в пределах КАД.<br>Доставка за пределы КАД осуществляется на следующий день после оформления заказа.<br>Доставка в Петергоф и Кронштадт осуществляется по тарифу Лен.области.
						.delivery__more-pay
							.delivery__more-title возможные способы оплаты
							.delivery__more-card
								.delivery__more-card-img
									img(src='/img/ico-pay-visa.svg')
									img(src='/img/ico-pay-mastercard.svg')
								.delivery__more-card-text банковские карты
							.delivery__more-card
								.delivery__more-card-img
									img(src='/img/ico-pay-ya.png')
								.delivery__more-card-text наличными
							.delivery__more-card
								.delivery__more-card-img
									img(src='/img/ico-pay-qiwi.png')
								.delivery__more-card-text qiwi
							.delivery__more-card
								.delivery__more-card-img
									img(src='/img/ico-pay-ya.png')
								.delivery__more-card-text яндекс.деньги

				.delivery__item
					.delivery__info
						.delivery__info-item.delivery__info-item_main
							.delivery__img: img(src='/img/delivery-im.svg', alt='')
							.delivery__title самовывоз из офиса<br>интернет-магазина
						.delivery__info-item.delivery__info-item_big
							.delivery__text Свой заказ можно получить в офисе интернет-магазина.
							.delivery__text Мини мальная сумма заказа отсутствует
						.delivery__info-item
							.delivery__showmore
					.delivery__more
						.delivery__more-text
							p Наш курьер доставит заказ по указанному адресу с 9:00 до 23:00 в выбранный вами интервал времени (из предложенных при оформлении заказа). Курьер дополнительно свяжется с вами перед выездом (ориентировочно за 1 час). По указанному адресу курьер будет ждать 15 минут, после чего мы оставляем за собой право перенести доставку на другое время, согласовав его с вами.
							p При оплате картой курьер интернет-магазина приедет с товаром и переносным терминалом, с помощью которого можно будет осуществить оплату. Внимание! Только в пределах КАД.<br>Доставка за пределы КАД осуществляется на следующий день после оформления заказа.<br>Доставка в Петергоф и Кронштадт осуществляется по тарифу Лен.области.
						.delivery__more-pay
							.delivery__more-title возможные способы оплаты
							.delivery__more-card
								.delivery__more-card-img
									img(src='/img/ico-pay-visa.svg')
									img(src='/img/ico-pay-mastercard.svg')
								.delivery__more-card-text банковские карты
							.delivery__more-card
								.delivery__more-card-img
									img(src='/img/ico-pay-ya.png')
								.delivery__more-card-text наличными
							.delivery__more-card
								.delivery__more-card-img
									img(src='/img/ico-pay-qiwi.png')
								.delivery__more-card-text qiwi
							.delivery__more-card
								.delivery__more-card-img
									img(src='/img/ico-pay-ya.png')
								.delivery__more-card-text яндекс.деньги


	section.section.section_condition
		.inner
			.condition
				.condition__list
					.condition__item
						.condition__ico: img(src='/img/condition-delivery.svg')
						.condition__title удобная доставка
						.condition__text Бесплатная доставка при заказе от 1000 руб. Срочная доставка через 3 часа.
					.condition__item
						.condition__ico: img(src='/img/condition-pay.svg')
						.condition__title оплата любыми способами
						.condition__text Вы можете оплатить заказ удобным для Вас способом.
					.condition__item
						.condition__ico: img(src='/img/condition-pay.svg')
						.condition__title гарантируем свежесть
						.condition__text Продукция доставляется в авторефрижераторе, с соблюдением необходимого температурного режима.
					.condition__item
						.condition__ico: img(src='/img/condition-cert.svg')
						.condition__title сертификация
						.condition__text Продукция доставляется в авторефрижераторе, с соблюдением необходимого температурного режима.
					.condition__item
						.condition__ico: img(src='/img/condition-loyal.svg')
						.condition__title лояльность
						.condition__text Вы можете отказаться от покупки, если доставленный продукт по какой-то причине вас не устраивает.