extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing

block head

block content

	section
		.inner
			.breadcrumbs
				.breadcrumbs__list
					a.breadcrumbs__item(href='#') Главная
					a.breadcrumbs__item(href='#') FAQ

	section.section.section_faq
		.inner
			.title faq - часто задаваемые вопросы

			.faq
				.faq__nav
					.faq__nav-item: a.faq__nav-link.is-active(href='#') вопросы по доставке
					.faq__nav-item: a.faq__nav-link(href='#') услуги
					.faq__nav-item: a.faq__nav-link(href='#') вакансии
					.faq__nav-item: a.faq__nav-link(href='#') прочее

				.faq__content
					.faq__item
						.faq__item-q особенности получения товара при доставке курьером
						.faq__item-a
							p Наш курьер доставит заказ по указанному адресу с 9:00 до 23:00 в выбранный вами интервал времени (из предложенных при оформлении заказа). Курьер дополнительно свяжется с вами перед выездом (ориентировочно за 1 час). По указанному адресу курьер будет ждать 15 минут, после чего мы оставляем за собой право перенести доставку на другое время, согласовав его с вами.
							p При оплате картой курьер интернет-магазина приедет с товаром и переносным терминалом, с помощью которого можно будет осуществить оплату. Внимание! Только в пределах КАД.<br>Доставка за пределы КАД осуществляется на следующий день после оформления заказа.<br>Доставка в Петергоф и Кронштадт осуществляется по тарифу Лен.области.

					.faq__item
						.faq__item-q особенности получения товара при самовывозе
						.faq__item-a
							p Наш курьер доставит заказ по указанному адресу с 9:00 до 23:00 в выбранный вами интервал времени (из предложенных при оформлении заказа). Курьер дополнительно свяжется с вами перед выездом (ориентировочно за 1 час). По указанному адресу курьер будет ждать 15 минут, после чего мы оставляем за собой право перенести доставку на другое время, согласовав его с вами.
							p При оплате картой курьер интернет-магазина приедет с товаром и переносным терминалом, с помощью которого можно будет осуществить оплату. Внимание! Только в пределах КАД.<br>Доставка за пределы КАД осуществляется на следующий день после оформления заказа.<br>Доставка в Петергоф и Кронштадт осуществляется по тарифу Лен.области.

					.faq__item
						.faq__item-q особенности получения товара при доставке курьером
						.faq__item-a
							p Наш курьер доставит заказ по указанному адресу с 9:00 до 23:00 в выбранный вами интервал времени (из предложенных при оформлении заказа). Курьер дополнительно свяжется с вами перед выездом (ориентировочно за 1 час). По указанному адресу курьер будет ждать 15 минут, после чего мы оставляем за собой право перенести доставку на другое время, согласовав его с вами.
							p При оплате картой курьер интернет-магазина приедет с товаром и переносным терминалом, с помощью которого можно будет осуществить оплату. Внимание! Только в пределах КАД.<br>Доставка за пределы КАД осуществляется на следующий день после оформления заказа.<br>Доставка в Петергоф и Кронштадт осуществляется по тарифу Лен.области.




