extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing

block head

block content

	section
		.inner
			.breadcrumbs
				.breadcrumbs__list
					a.breadcrumbs__item(href='#') Главная
					a.breadcrumbs__item(href='#') Отзывы

	section.section.section_feedbacks
		.inner
			.title отзывы
				.title__aside вы можете оставить свой отзыв на странице товара


			.feedbacks
				.feedbacks__item
					.feedbacks__img: img(src='/img/misc/prod_2.jpg')
					.feedbacks__product
						.feedbacks__product-name нерка свежемороженная. стейки, 1&nbsp;кг нерка свежемороженная. стейки 1&nbsp;кг
						.feedbacks__product-price 890 <span>Руб.</span>
					.feedbacks__text
						.feedbacks__text-info
							.feedbacks__text-name Yana love
							.feedbacks__text-date 20 октября 2016
						.feedbacks__text-content
							p Решила попробовать здесь заказать, так как наслышана об этом магазине. Взяла на пробу рыбку и немного икры. Кстати, консультировал меня приятный молодой человек, все быстренько мне объяснил и ответил на мои вопросы. За доставку заплатила немного, думаю, в следующий раз побольше закажу.

				.feedbacks__item
					.feedbacks__img: img(src='/img/misc/prod_3.jpg')
					.feedbacks__product
						.feedbacks__product-name краб кмчатский свежемороженный, 3&nbsp;кг краб кмчатский свежемороженный, 3&nbsp;кг
						.feedbacks__product-price 1 890 <span>Руб.</span>
					.feedbacks__text
						.feedbacks__text-info
							.feedbacks__text-name Саша
							.feedbacks__text-date 16 октября 2016
						.feedbacks__text-content
							p Решила попробовать здесь заказать, так как наслышана об этом магазине. Взяла на пробу рыбку и немного икры. Кстати, консультировал меня приятный молодой человек, все быстренько мне объяснил и ответил на мои вопросы. За доставку заплатила немного, думаю, в следующий раз побольше закажу.

				.feedbacks__item
					.feedbacks__img: img(src='/img/misc/prod_4.jpg')
					.feedbacks__product
						.feedbacks__product-name нерка свежемороженная. стейки, 1&nbsp;кг
						.feedbacks__product-price 890 <span>Руб.</span>
					.feedbacks__text
						.feedbacks__text-info
							.feedbacks__text-name Yana love
							.feedbacks__text-date 20 октября 2016
						.feedbacks__text-content
							p Решила попробовать здесь заказать, так как наслышана об этом магазине. Решила попробовать здесь заказать, так как наслышана об этом магазине. Взяла на пробу рыбку и немного икры. Кстати, консультировал меня приятный молодой человек, все быстренько мне объяснил и ответил на мои вопросы. За доставку заплатила немного, думаю, в следующий раз побольше закажу.Решила попробовать здесь заказать, так как наслышана об этом магазине. Взяла на пробу рыбку и немного икры. Кстати, консультировал меня приятный молодой человек, все быстренько мне объяснил и ответил на мои вопросы. За доставку заплатила немного, думаю, в следующий раз побольше закажу.

				.feedbacks__item
					.feedbacks__img: img(src='/img/misc/prod_5.jpg')
					.feedbacks__product
						.feedbacks__product-name краб кмчатский свежемороженный, 3&nbsp;кг
						.feedbacks__product-price 1 890 <span>Руб.</span>
					.feedbacks__text
						.feedbacks__text-info
							.feedbacks__text-name Саша
							.feedbacks__text-date 16 октября 2016
						.feedbacks__text-content
							p Решила попробовать здесь заказать, так как наслышана об этом магазине. Взяла на пробу рыбку и немного икры. Кстати, консультировал меня приятный молодой человек, все быстренько мне объяснил и ответил на мои вопросы. За доставку заплатила немного, думаю, в следующий раз побольше закажу. Решила попробовать здесь заказать, так как наслышана об этом магазине. Взяла на пробу рыбку и немного икры. Кстати, консультировал меня приятный молодой человек, все быстренько мне объяснил и ответил на мои вопросы. За доставку заплатила немного, думаю, в следующий раз побольше закажу.Решила попробовать здесь заказать, так как наслышана об этом магазине. Взяла на пробу рыбку и немного икры. Кстати, консультировал меня приятный молодой человек, все быстренько мне объяснил и ответил на мои вопросы. За доставку заплатила немного, думаю, в следующий раз побольше закажу. Решила попробовать здесь заказать, так как наслышана об этом магазине. Взяла на пробу рыбку и немного икры. Кстати, консультировал меня приятный молодой человек, все быстренько мне объяснил и ответил на мои вопросы. За доставку заплатила немного, думаю, в следующий раз побольше закажу.


	section.section_paginator
		.inner
			.paginator
				.paginator__name Страницы:
				a.paginator__item(href='#') 1
				a.paginator__item.is-active(href='#') 2
				a.paginator__item(href='#') 3
				.paginator__item ...
				a.paginator__item(href='#') 6
				a.paginator__item.paginator__item_prev(href='#') Назад
				a.paginator__item.paginator__item_next(href='#') Вперед
