extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing

block head

block content

	section
		.inner
			.title Сверстанные странцы:

			style.
				.title_sub {
					margin: 10px 0 !important;
				}

				.title_sub a:hover {
					color: #7099cb;
				}

			.title.title_sub: a(href='main.html') Главная
			.title.title_sub: a(href='catalog.html') Каталог
			.title.title_sub: a(href='subsections.html') Подкатегории
			.title.title_sub: a(href='product.html') Продукт
			.title.title_sub: a(href='delivery.html') Доставка
			.title.title_sub: a(href='faq.html') FAQ
			.title.title_sub: a(href='feedbacks.html') Отзывы
			.title.title_sub: a(href='contact.html') Контакты
			.title.title_sub
				a(href='login.html#reg') Регистрация
				| /
				a(href='login.html#auth') Авторизация
				| /
				a(href='login.html#recovery') Восстановление пароля
			.title.title_sub: a(href='search.html') Результаты поиска
			.title.title_sub: a(href='cart_1.html') Корзина
			.title.title_sub: a(href='cart_2.html') Оформление заказа
			.title.title_sub: a(href='cart_3.html') Детали заказа
			.title.title_sub: a(href='find.html') Поиск в шапке

			.title Попапы

			.title.title_sub: a(href='#', data-popup='.popup_feedback') написать отзыв
			.title.title_sub: a(href='#', data-popup='.popup_quick') Быстрая покупка
			.title.title_sub: a(href='#', data-popup='.popup_ordersuccess') подтверждение покупки
			.title.title_sub: a(href='#', data-popup='.popup_remind') появление товара
			.title.title_sub: a(href='#', data-popup='.popup_map') отметить адрес на карте

