extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing

block head

block content

	section.section.section_login
		.inner
			.title регистрация / авторизация

			.login
				.login__menu
					.login__menu-item(data-tab-link='reg', data-tab-group='login')
						.login__menu-title регистрация
						.login__menu-text
							span.js-frame Для тех, кто впервые на сайте
					.login__menu-item.is-active(data-tab-link='auth', data-tab-group='login')
						.login__menu-title вход
						.login__menu-text
							span.js-frame Для тех, кто уже зарегистрирован
					.login__menu-item(data-tab-link='recovery', data-tab-group='login')
						.login__menu-title забыли пароль
						.login__menu-text
							span.js-frame Для тех, кто забыл пароль

	section.section.section_line
		.line
			.line-handler

	section.section.section_login
		.inner
			.login
				.login__content
					.login__content-item(data-tab-targ='reg', data-tab-group='login')
						.login__content-form
							form.form.form_reg.js-form-ajax(action='/data/test.php', method='post', data-type="reg")
								.form__field
									.form__label Ваше имя
									.form__input
										input(type='text', name='userFirstName')
								.form__field
									.form__label Ваша фамилия
									.form__input
										input(type='text', name='userSecondName')
								.form__field
									.form__label Электронная почта#[sup.required]
									.form__input
										input(type='text', name='regEmail', data-required='email')
									.form__error Не указан E-mail
								.form__field
									.form__label Придумайте пароль#[sup.required]
									.form__input
										input(type='password', name='regPass', data-required='password')
									.form__error Пароль должен быть не менее 6 символов
									.form__footnote Допустимые символы: латинские буквы, цифры и символы прочерка "-", "_"<br>Длина пароля: не менее 6 символов
								.form__field
									.form__label Повторите пароль#[sup.required]
									.form__input
										input(type='password', name='regPassRepeat', data-required='name=regPass')
									.form__error Неверное подтверждение пароля
								.form__field.form__field_submit
									.form__input
										input.btn(type='submit', value='Зарегистрироваться')
									.form__footnote Нажимая кнопку «Зарегистрироваться», я подтверждаю свою <br>дееспособность, согласие на получение информации об оформлении<br>и получении заказа, согласие на обработку персональных данных.

					.login__content-item.is-active(data-tab-targ='auth', data-tab-group='login')
						.login__content-form
							form.form.form_auth.js-form-ajax(action='/data/test.php', method='post', data-type="auth")
								.form__field
									.form__label E-mail#[sup.required]
									.form__input
										input(type='text', name='login', data-required='email')
										.form__error Не указан E-mail
								.form__field
									.form__label Пароль#[sup.required]
									.form__input
										input(type='password', name='password', data-required='true')
								.form__field.form__field_checkbox
									.form__input
										input#check1(type='checkbox', name='')
										label(for='check1') Запомнить меня
								.form__field.form__field_submit
									.form__input
										input.btn(type='submit', value='Войти')
					.login__content-item(data-tab-targ='recovery', data-tab-group='login')
						.login__content-form
							.login__content-form
								form.form.form_recovery.js-form-ajax(action='/data/test.php', method='post', data-type="recovery")
									.form__info Если Вы забыли пароль от личного кабинета, введите адрес электронной почты, мы отправим Вам необходимые инструкции
									.form__field
										.form__label Электронная почта#[sup.required]
										.form__input
											input(type='text', name='passrecovery', data-required='email')
											.form__error Не указан E-mail
									.form__field.form__field_submit
										.form__input
											input.btn(type='submit', value='Восстановить пароль')
