extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing

block head

block content


	section.section.section_poster
		.inner
			.poster
				.poster__list
					.poster__item
						.poster__title лучшие<br>рецепты<br>онлайн
						.poster__img: img(src='/img/poster/poster_1.jpg', alt='')
					.poster__item
						.poster__title что такое<br>дикия рыба?
						.poster__img: img(src='/img/poster/poster_2.jpg', alt='')
					.poster__item
						.poster__title какая-то<br>надпись
						.poster__img: img(src='/img/poster/poster_3.jpg', alt='')

	section.section.section_card
		.inner
			.title.title_sub сегодня мы рекомендуем
			.card
				.card__list.card__list_slider
					+cardItem('in', ['sale', 'recom'], 'Рыба', 'нерка свежемороженная. стейки, 1&nbsp;кг', '', '890', 'Руб./кг', '/img/misc/prod_2.jpg')
					+cardItem('in', ['new'], 'Рыба', 'горбуша свежемороженная с&nbsp;головой, 0.7&nbsp;кг', '', '266', 'Руб.', '/img/misc/prod_3.jpg')
					+cardItem('in', ['recom'], 'Морепродукты', 'кальмар дальневосточный охлажденный, 1&nbsp;кг', '', '755', 'Руб.', '/img/misc/prod_4.jpg')
					+cardItem('in', ['hit', 'sale'], 'Рыба', 'окунь морской охлажденный, 1&nbsp;кг', '36 500', '35 500', 'Руб.', '/img/misc/prod_5.jpg')
					+cardItem('order', ['new', 'recom'], 'Крабы', 'краб кмчатский свежемороженный, 3&nbsp;кг', '', '1 890', 'Руб.', '/img/misc/prod_6.jpg')
					+cardItem('order', ['hit'], 'Крабы', 'мясо камчатского краба, роза, 500&nbsp;г', '', '266', 'Руб.', '/img/misc/prod_7.jpg')
					+cardItem('order', ['sale'], 'Кальмары / Осьминоги', 'осьминог охлажденный, 800&nbsp;г', '', '1327', 'Руб.', '/img/misc/prod_8.jpg')
					+cardItem('out', ['new'], 'Икра', 'икра черная стерляжья, 100&nbsp;г', '', '35 500', 'Руб.', '/img/misc/prod_9.jpg')

	section.section.section_card
		.inner
			.title.title_sub новинки
			.card
				.card__list.card__list_slider
					+cardItem('order', [], 'Крабы', 'краб кмчатский свежемороженный, 3&nbsp;кг', '', '1 890', 'Руб.', '/img/misc/prod_6.jpg')
					+cardItem('order', [], 'Крабы', 'мясо камчатского краба, роза, 500&nbsp;г', '', '266', 'Руб.', '/img/misc/prod_7.jpg')
					+cardItem('order', [], 'Кальмары / Осьминоги', 'осьминог охлажденный, 800&nbsp;г', '', '1327', 'Руб.', '/img/misc/prod_8.jpg')
					+cardItem('out', [], 'Икра', 'икра черная стерляжья, 100&nbsp;г', '', '35 500', 'Руб.', '/img/misc/prod_9.jpg')
					+cardItem('out', [], 'Рыба', 'нерка свежемороженная. стейки, 1&nbsp;кг', '', '890', 'Руб./кг', '/img/misc/prod_2.jpg')
					+cardItem('in', [], 'Морепродукты', 'кальмар дальневосточный охлажденный, 1&nbsp;кг', '', '755', 'Руб.', '/img/misc/prod_4.jpg')
					+cardItem('in', [], 'Рыба', 'окунь морской охлажденный, 1&nbsp;кг', '36 500', '35 500', 'Руб.', '/img/misc/prod_5.jpg')

	section.section.section_announce
		object.fishswim(type="image/svg+xml" data="/img/fish-school_announce.svg")
		object.seaweed(type="image/svg+xml" data="/img/seaweed_announce.svg")
		.inner
			.announce
				.announce__list
					.announce__item
						.announce__title доставка<br>в&nbsp;день заказа
						.announce__text Бесплатная доставка по&nbsp;СПб<br>и&nbsp;Лен.области в&nbsp;день заказа,<br>до&nbsp;12&nbsp;часов
					.announce__item.announce__item_big
						.announce__title бонусная программа<br>акции и скидки
						.announce__text Бонусная программа для наших<br>постоянных клиентов.
					.announce__item
						.announce__title розыгрыши в<br>наших группах
						.announce__text Подписывайтесь на наши группы<br>и следите за розыгрышами
						.announce__soc
							.soc
								a.soc__item.soc__item_vk(href='#')
								a.soc__item.soc__item_fb(href='#')
								a.soc__item.soc__item_ig(href='#')


	section.section.section_quicklinks
		.inner
			.quicklinks
				.quicklinks__list
					.quicklinks__item
						.quicklinks__img
							img.current(src='/img/announce-crab.svg')
							img.hover(src='/img/announce-crab_h.svg')
						.quicklinks__title икра
						.quicklinks__links
							a(href='#') Икра красная
							a(href='#') Икра черная
							a(href='#') Икра щуки
							a(href='#') Икра морских ежей
							a(href='#') Икра Боттарга
					.quicklinks__item
						.quicklinks__img
							img.current(src='/img/announce-fish.svg')
							img.hover(src='/img/announce-fish_h.svg')
						.quicklinks__title рыба
						.quicklinks__links
							a(href='#') Рыба охлажденная
							a(href='#') Рыба живая
							a(href='#') Рыба замороженная
							a(href='#') Филе и стейки из рыбы
							a(href='#') Рыбные консервы
							a(href='#') Красная рыба
							a(href='#') Белая рыба
							a(href='#') Дикая рыба
							a(href='#') Камчатсккая рыба
							a(href='#') Якутская рыба
							a(href='#') Сибирская рыба
							a(href='#') Рыба Крыма
							a(href='#') Экзотическая рыба
					.quicklinks__item
						.quicklinks__img
							img.current(src='/img/announce-crab.svg')
							img.hover(src='/img/announce-crab_h.svg')
						.quicklinks__title крабы
						.quicklinks__links
							a(href='#') Крабы
							a(href='#') Раки
							a(href='#') Лобстеры, лангустины
					.quicklinks__item
						.quicklinks__img
							img.current(src='/img/announce-fish.svg')
							img.hover(src='/img/announce-fish_h.svg')
						.quicklinks__title рыба копченая
						.quicklinks__links
							a(href='#') Рыба холодного копчения
							a(href='#') Рыба горячего копчения
							a(href='#') Рыба вяленая
							a(href='#') Рыба слабой соли
					.quicklinks__item
						.quicklinks__img
							img.current(src='/img/announce-squid.svg')
							img.hover(src='/img/announce-squid_h.svg')
						.quicklinks__title кальмары/осьминоги
						.quicklinks__links
							a(href='#') Кальмары / Осьминоги

	section.section.section_card
		.inner
			.title.title_sub недавно просмотренные
			.card
				.card__list.card__list_slider
					+cardItem('order', [], 'Крабы', 'краб кмчатский свежемороженный, 3&nbsp;кг', '', '1 890', 'Руб.', '/img/misc/prod_6.jpg')
					+cardItem('order', [], 'Крабы', 'мясо камчатского краба, роза, 500&nbsp;г', '', '266', 'Руб.', '/img/misc/prod_7.jpg')
					+cardItem('order', [], 'Кальмары / Осьминоги', 'осьминог охлажденный, 800&nbsp;г', '', '1327', 'Руб.', '/img/misc/prod_8.jpg')

	section.section.section_text
		.inner
			.text.text_half
				.text__item
					h3 FISH MAGAZ - магазин свежей рыбы и морепродуктов
					p Молодая динамично развивающаяся компания. Наш коллектив сложился из высоких профессионалов бизнеса рыбы и морепродуктов, которые любят свое дело, разбираются во всех аспектах своей профессии и хотят делать жизнь и работу людей проще, лучше и вкуснее.
					h3 Широкий ассортимент
					p Мы поставляем рыбу, икру и морепродукцию напрямую с Дальнего Востока, Санкт-Петербурга, Мурманска и многих стран мира. Все поставки и качество поставляемой продукции контролируются собственными сотрудниками в Мурманске, Владивостоке, Петербурге, в Южно-Сахалинске. Рефрежераторами продукция доставляется к нам в Москву на хладокомбинат «Меридиан» и хранится на морозильных складах при температуре -18-24°С.
					h3 Доставка морепродуктов
					p Собственная служба логистики организовывает хранение и доставку товара клиентам. На своем пути продукции контролируются условия хранения и транспортировки.

				.text__item
					h3 Бонусы и скидки
					p Компания fish.lid24 любит и ценит своих клиентов независимо от их статуса и объемов закупки. Это могут быть рестораны, бары, кафе, предприятия общественного питания, гостиницы, другие предприятия сегмента HoReCa, перерабатывающие предприятия. И конечно же обычные люди, которые устали от низкокачественных продуктов из супермаркетов и хотят употреблять в пищу экологически чистую, высококачественную рыбу, икру и морепродукты. Наша продукция является экологически чистой, практически вся она замораживается в море на бортах рыболовных траулеров. Здесь она не проходит никакой предпродажной подготовки, не накачивается различными гелями, растворами, улучшителями и остальными вредными для здоровья ингридиентами.
					p FISH MAGAZ - это всегда самая вкусная икра, свежемороженая рыба и морепродукты с доставкой и улыбкой! Наш клиент всегда доволен и прав!
