extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing

block head

block content

	section
		.inner
			.breadcrumbs
				.breadcrumbs__list
					a.breadcrumbs__item(href='#') Главная
					a.breadcrumbs__item(href='#') Свежемороженная рыба
					a.breadcrumbs__item(href='#') Нерка свежемороженная, Стейки, 1 кг

	section.section.section_product
		.inner
			.title нерка свежемороженная. стейки, 1 кг

			.product__info
				.product__info-tag
					.tag
						.tag__item.tag__item_sale - 30% КАРТОЙ ОНЛАЙН
						.tag__item.tag__item_recom РЕКОМЕНДУЕМ
						.tag__item.tag__item_hit ХИТ
						.tag__item.tag__item_new НОВИНКА

				.product__info-price
					.price 22 890 <span>Руб.</span>
					.weight Цена за кг: 890 руб.
					.status.status_in В наличии

				.product__info-order
					.order-sum(data-step='1')
						.order-sum__less.js-product-order-sum
						.order-sum__val 1
						.order-sum__more.js-product-order-sum
					.btn.order-add Добавить в корзину
					.btn.order-get Оформить в 1 клик

				.product__info-title доставка

				.product__info-delivery
					.delivery-item
						.delivery-item__img: img(src='/img/delivery-spb.svg')
						.delivery-item__text
							.delivery-item__link: a(href='#') Курьером по СПб
							.delivery-item__info в день заказа*
					.delivery-item
						.delivery-item__img: img(src='/img/delivery-lo.svg')
						.delivery-item__text
							.delivery-item__link: a(href='#') Курьером по Лен.обл.
							.delivery-item__info в течении 2-3 дней*
					.delivery-item
						.delivery-item__img: img(src='/img/delivery-im.svg')
						.delivery-item__text
							.delivery-item__link: a(href='#') Самовывоз из офиса
							.delivery-item__info в день заказа*



				.product__info-title мы принимаем к оплате

				.product__info-pay
					span: img(src='/img/ico-fpay-visa.svg')
					span: img(src='/img/ico-fpay-ya.svg')
					span: img(src='/img/ico-fpay-wm.svg')
					span: img(src='/img/ico-fpay-qiwi.svg')
					span: img(src='/img/ico-fpay-mc.svg')

			.product__pic
				.product__pic-main: img(src='/img/misc/prod-item_1.jpg')
				.product__pic-preview
					.preview.preview_slider
						.preview__item: a.preview__link.is-active(href='/img/misc/prod-item_1.jpg'): img(src='/img/misc/prod-item_1.jpg')
						.preview__item: a.preview__link(href='/img/misc/prod-item_1.jpg'): img(src='/img/misc/prod-item_1.jpg')
						.preview__item: a.preview__link(href='/img/misc/prod-item_1.jpg'): img(src='/img/misc/prod-item_1.jpg')
						.preview__item: a.preview__link(href='/img/misc/prod-item_1.jpg'): img(src='/img/misc/prod-item_1.jpg')
						.preview__item: a.preview__link(href='/img/misc/prod-item_1.jpg'): img(src='/img/misc/prod-item_1.jpg')

	section.section.section_description
		.inner
			.description
				.title.title_sub описание
				.description__table
					.description__table-item #[b Доставка:] В день оформления заказа.
					.description__table-item #[b В комплекте:] 3 стейка
					.description__table-item #[b Описание:] Холодного копчения. Без консервантов.
					.description__table-item #[b Вес рыбы:] 300 - 400 г
					.description__table-item #[b Вылов:] Россия. Дальний Восток.
					.description__table-item #[b Производитель:] ИП Хаманов В.В. (Санкт-Петербург)
					.description__table-item #[b Упаковка:] Вукуумный пакет.
					.description__table-item #[b Состав продукта:] Нерка, соль.
					.description__table-item #[b Условия хранения:] 30 суток при температуре от 0 до +5 С. После вскрытия<br>упаковки хранить не более суток.
					.description__table-item #[b Способ приготовления:] Продукт готов к употреблению.
					.description__table-item #[b Пищевая ценность на 100 г продукта:] Белки 22 г, жиры 12 г, углеводы 0 г,<br>калорийность 186&nbsp;кДж.
					.description__table-item #[b Примечание:] Весовой товар, точная стоимость будет известна в момент получения заказа.

				.description__text
					h3 Путина 2016 года!
					p Нерка (лат. Oncorhynchus nerka) — пожалуй, самая яркая и удивительная рыба из тихоокеанских лососей.
					p Во время нереста тело нерки становится красного цвета, голова и хвост — зеленого. Второе название нерки — красная. Но получила она его не только за свой брачный наряд. Из-за присутствия в рационе нерки ярко-красных рачков, мясо ее окрашивается каротиноидными пигментами, в них содержащимися.

			.section__aside
				.consult
					.consult-title позвоните нам<br>или закажите звонок
					.consult-text Наши консультанты с удовольствием помогут Вам с выбором, и ответят на интересующие вопросы


	section.section.section_feedback
		.inner
			.feedback
				.title.title_sub отзывы
				.feedback__add: a.btn(href='#') Оставить отзыв
				.feedback__item
					.feedback__sender
						.feedback__sender-name Yana love
						.feedback__sender-date 20 октября 2016
					.feedback__content
						p Решила попробовать здесь заказать, так как наслышана об этом магазине. Взяла на пробу рыбку и немного икры. Кстати, консультировал меня приятный молодой человек, все быстренько мне объяснил и ответил на мои вопросы. За доставку заплатила немного, думаю, в следующий раз побольше закажу.
				.feedback__item
					.feedback__sender
						.feedback__sender-name Саша
						.feedback__sender-date 20 октября 2016
					.feedback__content
						p Стейки разморозила и засолила (1 ложка сахара на 2 ложки соли). Получилось очень вкусно! Моя семья съела с удовольствием:) Спасибо!

			.section__aside
				a.feedback-more(href='#')
					.feedback-more__img
					.feedback-more__text Все отзывы о магазине читайте в разделе «Отзывы»


	section.section.section_card
		.inner
			.title.title_sub рекомендуем вам
			.card
				.card__list.card__list_slider
					+cardItem('in', ['sale', 'recom'], 'Рыба', 'нерка свежемороженная. стейки, 1&nbsp;кг', '', '890', 'Руб./кг', '/img/misc/prod_2.jpg')
					+cardItem('in', ['new'], 'Рыба', 'горбуша свежемороженная с&nbsp;головой, 0.7&nbsp;кг', '', '266', 'Руб.', '/img/misc/prod_3.jpg')
					+cardItem('in', ['recom'], 'Морепродукты', 'кальмар дальневосточный охлажденный, 1&nbsp;кг', '', '755', 'Руб.', '/img/misc/prod_4.jpg')
					+cardItem('in', ['hit', 'sale'], 'Рыба', 'окунь морской охлажденный, 1&nbsp;кг', '36 500', '35 500', 'Руб.', '/img/misc/prod_5.jpg')
					+cardItem('order', ['new', 'recom'], 'Крабы', 'краб кмчатский свежемороженный, 3&nbsp;кг', '', '1 890', 'Руб.', '/img/misc/prod_6.jpg')
					+cardItem('order', ['hit'], 'Крабы', 'мясо камчатского краба, роза, 500&nbsp;г', '', '266', 'Руб.', '/img/misc/prod_7.jpg')
					+cardItem('order', ['sale'], 'Кальмары / Осьминоги', 'осьминог охлажденный, 800&nbsp;г', '', '1327', 'Руб.', '/img/misc/prod_8.jpg')
					+cardItem('out', ['new'], 'Икра', 'икра черная стерляжья, 100&nbsp;г', '', '35 500', 'Руб.', '/img/misc/prod_9.jpg')
