extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing

block head

block content

	section
		.inner
			.breadcrumbs
				.breadcrumbs__list
					a.breadcrumbs__item(href='#') Главная
					a.breadcrumbs__item(href='#') Поиск

	section.section.section_card
		.inner
			.title результаты поиска
			.subtitle по запросу «рыба» найдено 26 товаров
			.card
				.card__list
					+cardItem('order', [], 'Крабы', 'краб кмчатский свежемороженный, 3&nbsp;кг', '', '1 890', 'Руб.', '/img/misc/prod_6.jpg')
					+cardItem('order', [], 'Крабы', 'мясо камчатского краба, роза, 500&nbsp;г', '', '266', 'Руб.', '/img/misc/prod_7.jpg')
					+cardItem('order', [], 'Кальмары / Осьминоги', 'осьминог охлажденный, 800&nbsp;г', '', '1327', 'Руб.', '/img/misc/prod_8.jpg')
					+cardItem('out', [], 'Икра', 'икра черная стерляжья, 100&nbsp;г', '', '35 500', 'Руб.', '/img/misc/prod_9.jpg')
					+cardItem('out', [], 'Рыба', 'нерка свежемороженная. стейки, 1&nbsp;кг', '', '890', 'Руб./кг', '/img/misc/prod_2.jpg')
					+cardItem('in', [], 'Морепродукты', 'кальмар дальневосточный охлажденный, 1&nbsp;кг', '', '755', 'Руб.', '/img/misc/prod_4.jpg')
					+cardItem('in', [], 'Рыба', 'окунь морской охлажденный, 1&nbsp;кг', '36 500', '35 500', 'Руб.', '/img/misc/prod_5.jpg')
