extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing

block head

block content

	section
		.inner
			.breadcrumbs
				.breadcrumbs__list
					a.breadcrumbs__item(href='#') Главная
					a.breadcrumbs__item(href='#') Рыба


	section.section.section_card
		.inner
			.title рыба
			.card.card_part
				.card__list
					+cardPart('/img/misc/part_02.jpg', 'все категории рыбы', '340')
					+cardPart('/img/misc/part_03.jpg', 'рыба замороженная', '11')
					+cardPart('/img/misc/part_04.jpg', 'филе и стейки из рыбы', '23')
					+cardPart('/img/misc/part_05.jpg', 'рыбные консервы', '42')
					+cardPart('/img/misc/part_06.jpg', 'рыба живая', '42')
					+cardPart('/img/misc/part_07.jpg', 'рыба по видам', '42')
					+cardPart('/img/misc/part_08.jpg', 'рыба красная', '11')
					+cardPart('/img/misc/part_09.jpg', 'рыба белая', '23')
					+cardPart('/img/misc/part_10.jpg', 'дикая рыба', '42')
					+cardPart('/img/misc/part_11.jpg', 'камчатская рыба', '42')
					+cardPart('/img/misc/part_02.jpg', 'рыба охлажденная', '42')
					+cardPart('/img/misc/part_12.jpg', 'якутская рыба', '11')
					+cardPart('/img/misc/part_01.jpg', 'сибирская рыба', '23')

	section.section.section_text
		.inner
			.text.text_half
				.text__item
					h3 FISH MAGAZ - магазин свежей рыбы и морепродуктов
					p Молодая динамично развивающаяся компания. Наш коллектив сложился из высоких профессионалов бизнеса рыбы и морепродуктов, которые любят свое дело, разбираются во всех аспектах своей профессии и хотят делать жизнь и работу людей проще, лучше и вкуснее.
					h3 Широкий ассортимент
					p Мы поставляем рыбу, икру и морепродукцию напрямую с Дальнего Востока, Санкт-Петербурга, Мурманска и многих стран мира. Все поставки и качество поставляемой продукции контролируются собственными сотрудниками в Мурманске, Владивостоке, Петербурге, в Южно-Сахалинске. Рефрежераторами продукция доставляется к нам в Москву на хладокомбинат «Меридиан» и хранится на морозильных складах при температуре -18-24°С.

				.text__item
					h3 Бонусы и скидки
					p Компания fish.lid24 любит и ценит своих клиентов независимо от их статуса и объемов закупки. Это могут быть рестораны, бары, кафе, предприятия общественного питания, гостиницы, другие предприятия сегмента HoReCa, перерабатывающие предприятия. И конечно же обычные люди, которые устали от низкокачественных продуктов из супермаркетов и хотят употреблять в пищу экологически чистую, высококачественную рыбу, икру и морепродукты. Наша продукция является экологически чистой, практически вся она замораживается в море на бортах рыболовных траулеров. Здесь она не проходит никакой предпродажной подготовки, не накачивается различными гелями, растворами, улучшителями и остальными вредными для здоровья ингридиентами.
					p FISH MAGAZ - это всегда самая вкусная икра, свежемороженая рыба и морепродукты с доставкой и улыбкой! Наш клиент всегда доволен и прав!

