.fishswim{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	&__item{
		fill: #0f1420;
		@include animation(bounce 2s linear infinite);
		//@include transform-origin(100% 50%);


		//animation-delay: 0.5s;
		//-webkit-animation-delay: 0.5s;
	}

	&__group{
		opacity:0;

		&_1,
		&_2{
			.fishswim__item{
				&_1{
					@include css3-prefix('animation-delay', 0.0s);
				}
				&_2{
					@include css3-prefix('animation-delay', 0.2s);
					@include css3-prefix('animation-duration', 2.5s);
				}
				&_3{
					@include css3-prefix('animation-delay', 0.4s);
					@include css3-prefix('animation-duration', 3s);
				}
				&_4{
					@include css3-prefix('animation-delay', 0.1s);
					@include css3-prefix('animation-duration', 2.5s);
				}
				&_5{
					@include css3-prefix('animation-delay', 0.3s);
				}
				&_6{
					@include css3-prefix('animation-delay', 0.6s);
					@include css3-prefix('animation-duration', 2.5s);
				}
				&_7{
					@include css3-prefix('animation-delay', 0.7s);
					@include css3-prefix('animation-duration', 3s);
				}
				&_8{
					@include css3-prefix('animation-delay', 0.5s);
					@include css3-prefix('animation-duration', 2.5s);
				}
				&_9{
					@include css3-prefix('animation-delay', 0.8s);
				}
			}
		}

		&_1{
			@include animation(swim-group-1 20s 1s linear infinite);

			.fishswim__item{
				&_4{
					.announce &{
						fill:#7099cb;
					}
				}
			}
		}
		&_2{
			@include animation(swim-group-2 50s 5s linear infinite);

			.fishswim__item{
				opacity: .8;

				&_6{
					.announce &{
						fill:#4f2758;
					}
				}
			}
		}
	}
}

@include keyframes(bounce){
	0%, 100% {
		@include transform(translateY(-10px) rotate(0deg));
	}
	25% {
		@include transform(translateY(0px) rotate(5deg));
	}
	50% {
		@include transform(translateY(10px) rotate(0deg));
	}
	75% {
		@include transform(translateY(0px) rotate(-5deg));
	}
}


@include keyframes (swim-group-1){
	0% {
		@include transform(translateX(-600px) translateY(200px));
		opacity: 0;
	}
	5% {
		opacity: 1;
	}
	95% {
		opacity: 1;
	}
	100% {
		@include transform(translateX(2600px) translateY(200px));
		opacity: 0;
	}
}

@include keyframes (swim-group-2){
	0% {
		@include transform(translateX(-310px) translateY(50px));
		opacity: 0;
	}
	5% {
		opacity: 1;
	}
	95% {
		opacity: 1;
	}
	100% {
		@include transform(translateX(2400px) translateY(50px));
		opacity: 0;
	}
}


.fishswim__seaweed{

	&_1{
		@include transform(translate(0px, 37px));

		.announce &{
			@include transform(translate(0px, 37px));
		}
	}

	&_2{
		@include transform(translate(230px, 0px) scale(-1.2,1.2));

		.announce &{
			@include transform(translate(1000px, 0px) scale(-1.2,1.2));
		}
	}
}

.fishswim__bubble{

	&_1{
		@include transform(translate(100px, 20px));
	}

	&_2{
		@include transform(translate(250px, 0px) scale(1.2));

		.announce &{
			@include transform(translate(1000px, 0px) scale(1.2));
		}
	}
}

.seaweed{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	width: 1256px;
	margin: 0 auto;

	@include breakpoint($bp1) {
		width: 1576px;
	}


	&__item{

		stroke-width:2px;

		&_1{
			fill:#7ace83;
			@include animation(vawe-1 5s infinite);
			@include transform-origin(50% 100%);

			.announce &{
				fill:#7099cb;
			}
		}
		&_2{
			fill:#4f2758;
			@include animation(vawe-2 6s infinite);
			@include transform-origin(50% 100%);

			.announce &{
				fill:#7ace83;
			}
		}
	}


	&__bubble{

		opacity: 0;
		fill-opacity: 0;
		@include animation(bubble 8s linear infinite);

		.fishswim__bubble_1 &{
			fill:#7c4688;
			stroke:#7c4688;
			@include css3-prefix('animation-duration', 8s);

			.announce &{
				fill:#7ace83;
				stroke:#7ace83;
			}
		}

		.fishswim__bubble_2 &{
			fill:#7ace83;
			stroke:#7ace83;
			@include css3-prefix('animation-duration', 10s);

			.announce &{
				fill:#7099cb;
				stroke:#7099cb;
			}
		}

		&_1{

			.fishswim__bubble_2 &{
				@include css3-prefix('animation-delay', 3s);
			}
		}

		&_2{
			@include css3-prefix('animation-delay', 1s);

			.fishswim__bubble_2 &{
				@include css3-prefix('animation-delay', 4s);
			}
		}

		&_3{
			fill-opacity: 1;
			@include css3-prefix('animation-delay', 2s);

			.fishswim__bubble_2 &{
				@include css3-prefix('animation-delay', 5s);
			}
		}

		&_4{
			@include css3-prefix('animation-delay', 3s);

			.fishswim__bubble_2 &{
				@include css3-prefix('animation-delay', 6s);
			}
		}
	}
}

@include keyframes(vawe-1){
	0%, 100% {
		@include transform(skewX(0deg));
	}
	50% {
		@include transform(skewX(-10deg));
	}
}

@include keyframes(vawe-2){
	0%, 100% {
		@include transform(skewX(-15deg));
	}
	50% {
		@include transform(skewX(0deg));
	}
}

@include keyframes(bubble){
	0% {
		@include transform(translate(3px, 60px) scale(0.3));
		opacity: 0;
	}
	2%, 38% {
		opacity: 1;
	}
	10% {
		@include transform(translate(-4px, 45px) scale(0.45));
	}
	20% {
		@include transform(translate(5px, 30px) scale(0.6));
	}
	30% {
		@include transform(translate(-6px, 15px) scale(0.85));
	}
	40% {
		@include transform(translate(8px, 0px) scale(1.0));
		opacity: 0;
	}
}


