@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,600&subset=cyrillic,cyrillic-ext');
//font-family: 'Roboto', sans-serif;

@font-face {
	font-family: 'bernier';
	src: url('/fonts/bernier/bernier.eot');
	src: local('☺'),
	url('/fonts/bernier/bernier.woff') format('woff'),
	url('/fonts/bernier/bernier.ttf') format('truetype'),
	url('/fonts/bernier/bernier.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'segoe';
	src: url('/fonts/segoe/segoeui.eot');
	src: local('☺'),
	url('/fonts/segoe/segoeui.woff') format('woff'),
	url('/fonts/segoe/segoeui.ttf') format('truetype'),
	url('/fonts/segoe/segoeui.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'segoe';
	src: url('/fonts/segoe/seguisb.eot');
	src: local('☺'),
	url('/fonts/segoe/seguisb.woff') format('woff'),
	url('/fonts/segoe/seguisb.ttf') format('truetype'),
	url('/fonts/segoe/seguisb.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

