.footer{
	height: $footerHeight;
	margin-top: -$footerHeight;
	background: $colorDarkBlue;
	position: relative;
	color: #fff;
	font-family: 'segoe', sans-serif;
	font-weight: 400;
	font-size: 14px;
	@include box-sizing();

	.inner {
		padding-top: 57px;
		@include clearfix();
		position: relative;
		overflow: hidden;
	}

	&__logo {
		display: block;
		float: left;
		width: 221px;
		height: 41px;

		img {
			width: 100%;
			height: 100%;
			display: block;
		}
	}

	&-title {
		font-size: 20px;
		font-family: 'bernier', sans-serif;
		text-transform: lowercase;
		margin-bottom: 10px;
	}

	&__menu {

		margin-left: 320px;
		line-height: 20px;
		white-space: nowrap;

		&-list {
			float: left;
			margin-right: 85px;

			@include breakpoint($bp1) {
				width: 296px;
				margin-right: 24px;
			}

			&:last-child {
				margin-right: 0;
			}
		}

		&-link {
			color: $colorLightBlue;

			&:hover {
				color: #fff;
				text-decoration: underline;
			}
		}
	}

	&__info {
		width: 220px;
		float: right;

		@include breakpoint($bp1) {
			width: 296px;
		}

		&-phone {
			font-size: 26px;
			font-family: 'bernier', sans-serif;
			text-transform: lowercase;
		}

		&-time {
			color: $colorLightBlue;
			letter-spacing: 0.5px;
			margin-bottom: 35px;
		}

		&-soc {
			margin-bottom: 22px;
		}

		&-pay {
			span {
				display: inline-block;
				vertical-align: middle;
				margin-right: 14px;
			}
		}
	}

	&__hook {
		width: 16px;
		height: 143px;
		position: absolute;
		top: -150px;
		right: 250px;
		background: url("/img/footer-hook.svg") 50% 50% no-repeat;
		@include animation(footerHook 30s 2s linear infinite);

		@include breakpoint($bp1) {
			right: 360px;
		}
	}


}

@include keyframes(footerHook) {
	0%, 90% {
		top: -150px;
	}
	1% {
		top: 0;
	}
	1.7%, 38.6%, 40.7%, 89% {
		top: -10px;
	}
	39.3% {
		top: 0;
	}
	40% {
		top: -20px;
	}

}