.header {
	height: 140px;
	background: $colorDarkBlue;
	color: #fff;

	.inner{
		padding-top: 35px;
		@include clearfix();
	}

	&__logo {
		width: 250px;
		height: 44px;
		display: block;
		margin-right: 70px;
		float: left;

		@include breakpoint($bp1) {
			width: 296px;
			height: 52px;
			margin-right: 120px;
		}

		img {
			display: block;
			width: 100%;
			height: 100%;
		}
	}

	&__nav {
		float: left;
		width: 520px;
		font-size: 13px;
		font-family: 'segoe', sans-serif;
		font-weight: 400;

		@include breakpoint($bp1) {
			width: 680px;
		}

		&-list {
			margin-bottom: 22px;

			@include breakpoint($bp1) {
				margin-left: 10px;
			}
		}

		&-item {
			display: inline-block;
			position: relative;
			margin: 0 2px 0 9px;

			@include breakpoint($bp1) {
				margin: 0 6px 0 14px;
			}

			&:before {
				content: '';
				display: inline-block;
				width: 4px;
				height: 4px;
				background: $colorLightBlue;
				@include border-radius(50%);
				position: absolute;
				top: 7px;
				left: -9px;

				@include breakpoint($bp1) {
					left: -14px;
				}
			}
		}

		&-link {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__search {
		position: relative;

		input {
			border: 0;
			background-color: #0f1420;
			height: 38px;
			width: 100%;
			@include box-sizing();
			line-height: 38px;
			color: inherit;
			@include transition(background-color 0.2s ease);
		}

		&-input {
			width: 369px;
			float: left;
			margin-right: 2px;

			@include breakpoint($bp1) {
				width: 445px;
			}

			input{
				padding: 0 20px;
				color: #000;

				&.is-filled,
				&:focus{
					background-color: #fff;
				}
			}
		}

		&-submit {
			width: 68px;
			height: 38px;
			float: left;

			input{
				background-image: url("/img/ico-search.svg");
				background-position: 50% 50%;
				background-repeat: no-repeat;
				cursor: pointer;
				padding: 0;
				min-width: 0;

				&:hover{
					background-color: $colorLightBlue;
				}
			}
		}

		&-result {
			position: absolute;
			left: 0;
			top: 39px;
			width: 369px;
			z-index: 100;

			@include breakpoint($bp1) {
				width: 445px;
			}

			.result {
				background: #fff;
				color: $colorBlack;
				font-family: 'arial', sans-serif;
				font-size: 14px;
				@include box-shadow(0 1px 2px rgba(0, 0, 0, 0.5));

				b {
					//font-weight: 900;
				}

				&__title {
					padding: 15px;
					border-bottom: 1px solid #e1e1e1;

					i {
						font-size: 12px;
						color: $colorGrey;
					}
				}

				&__list {
					padding: 10px 15px;
				}

				&__item {
					margin: 10px 0;
					cursor: pointer;

					&:hover {
						color: $colorLightBlue;
					}
				}
			}
		}
	}

	&__contact {
		float: left;
		width: 230px;
		font-family: 'segoe', sans-serif;
		font-weight: 400;

		@include breakpoint($bp1) {
			width: 290px;
		}

		&-city{
			font-size: 16px;
			padding-left: 23px;
			position: relative;
			line-height: 1;
			margin-bottom: 15px;

			&:before{
				content: '';
				width: 13px;
				height: 18px;
				display: block;
				background: url("/img/ico-location.svg") no-repeat 50% 50%;
				position: absolute;
				left: 0;
				top:0;
			}

			a{
				text-decoration: none;
				display: inline-block;
				border-bottom: 1px dotted currentColor;

				&:hover{
					border-bottom-color: transparent;
				}
			}
		}
		&-phone{
			font-size: 20px;
			font-weight: 500;
			margin-bottom: 3px;
		}
		&-time{
			font-size: 14px;
			font-weight: 500;
			color: $colorLightBlue;
			letter-spacing: 0.4px;
		}


	}

	&__cart {
		float: left;
		width: 186px;
		position: relative;
		padding-left: 57px;
		@include box-sizing();
		font-family: 'segoe', sans-serif;
		font-weight: 400;

		&-user{
			font-size: 16px;
			position: relative;
			line-height: 1;
			height: 37px;

			a{
				text-decoration: none;
				display: inline-block;
				border-bottom: 1px dotted currentColor;

				&:hover{
					border-bottom-color: transparent;
				}
			}
		}

		&-item{
			position: absolute;
			left: 0;
			text-align: center;
			width: 38px;
			height: 106px;
			@include box-sizing();
			font-size: 16px;
			color: $colorDarkBlue;
			font-weight: 500;
			background: url("/img/ico-cart.svg") no-repeat 0 0;
			padding-top: 83px;
			top: -35px;
		}

		&-title{
			font-size: 16px;
			margin-bottom: 3px;
			display: block;
			color: #dedfe1;

			&:hover{
				color: #fff;
			}
		}
		&-text{
			font-size: 14px;
			color: $colorLightBlue;
			display: block;
		}
	}
}




.nav{

	font-family: 'bernier', sans-serif;
	text-transform: lowercase;
	color: #0f1420;
	font-size: 20px;
	border-bottom: 1px solid #ebebeb;

	&__list{
		padding: 23px 0;
	}

	&__item{
		display: inline-block;
		vertical-align: top;
		margin-right: 14px;

		&_r{
			float: right;
			margin-right: 0;
		}
	}

	&__link{

	}
}