
.wrapper  {
	width: 100%;
	height: 100%;
	min-height: 100%;
	position: relative;
	height: auto !important;
	left: 0;
	overflow-x: hidden;
}

.website {
	position: relative;
	width: 100%;
	padding-bottom: $footerHeight;
}

.inner{
	width: 1256px;
	margin: 0 auto;
	//@include clearfix();

	@include breakpoint($bp1) {
		width: 1576px;
	}
}

hr {
	@include box-shadow(none);
	height: 1px;
	display: block;
	background: #ebebeb;
	border: none;
}

.title {
	font-size: 36px;
	font-family: 'bernier', sans-serif;
	text-transform: lowercase;
	margin: 30px 0;

	&_sub {
		font-size: 30px;
		margin: 55px 0 45px;
	}

	&__aside {
		float: right;
		color: $colorLightBlue;
		font-size: 0.6em;
		margin-top: 0.6em;
	}
}

.subtitle {
	font-size: 20px;
	font-family: 'bernier', sans-serif;
	text-transform: lowercase;
	margin: 20px 0;
}


.btn {
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	background: $colorLightBlue;
	border: 2px solid $colorLightBlue;
	cursor: pointer;
	//line-height: 35px;
	padding: 6px;
	display: inline-block;
	@include box-sizing();

	&:hover {
		background-color: $colorLightBlueHover;
		border-color: $colorLightBlueHover;
	}

	&_grey {
		background: #bcbcbc;
		border-color: #bcbcbc;

		&:hover {
			background-color: #d5d5d5;
			border-color: #d5d5d5;
		}
	}

	&_red {
		background: $colorError;
		border-color: $colorError;

		&:hover {
			background-color: $colorError;
			border-color: $colorError;
		}
	}

	&_link {
		background: transparent;
		font-weight: 400;
		color: $colorBlack;
		border-color: transparent !important;

		&:hover {
			background: transparent;
			color: $colorLightBlue;
		}
	}

	&_border {
		background: transparent;
		padding: 6px;
		color: $colorLightBlue;

		&:hover {
			background: transparent;
			color: $colorLightBlueHover;
		}
	}

	.is-loading & {
		cursor: default;
		color: transparent;
		background-image: url("/img/loading.svg");
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-color: $colorLightBlueHover;
	}

	&:disabled {
		background: #bcbcbc !important;
		border-color: #bcbcbc !important;
	}
}

.paginator {

	font-size: 16px;
	margin: 50px 0;

	&__name {
		display: inline-block;
		height: 35px;
		line-height: 35px;
		font-weight: 600;
		margin-right: 20px;
	}

	&__item {
		display: inline-block;
		min-width: 35px;
		height: 35px;
		line-height: 35px;
		padding: 0 10px;
		@include border-radius(100px);
		@include box-sizing();
		margin-right: 6px;
		text-align: center;

		&.is-active {
			background: $colorLightBlue;
			cursor: default;
			color: #fff;
			text-align: center;
		}

		&_prev,
		&_next {
			@include border-radius(0);
			text-align: center;
			background-color: $colorLightBlue;
			cursor: pointer;
			border: none;
			color: #fff;
			padding: 0 20px;
			background-repeat: no-repeat;
			margin-right: 0;
			margin-left: 10px;

			&:hover {
				background-color: $colorLightBlueHover;
			}
		}

		&_prev {
			padding-left: 40px;
			background-image: url("/img/pagin-arrow-prev.svg");
			background-position: top 13px left 20px;
			//margin-right: 15px;
		}

		&_next {
			padding-right: 40px;
			background-image: url("/img/pagin-arrow-next.svg");
			background-position: top 13px right 20px;
			//margin-left: 15px;
		}
	}
}


.soc {

	font-size: 0;

	&__item {

		display: inline-block;
		width: 34px;
		height: 34px;
		background: url("/img/ico-soc-sprite.svg") no-repeat 0 0;
		margin-right: 10px;

		&_vk {
			background-position: 0 0;
		}

		&_fb {
			background-position: -34px 0;
		}

		&_ig {
			background-position: -68px 0;
		}
	}
}

a.soc {

	&__item {

		&_vk {
			&:hover {
				background-position: 0 -34px;
			}
		}

		&_fb {
			&:hover {
				background-position: -34px -34px;
			}
		}

		&_ig {
			&:hover {
				background-position: -68px -34px;
			}
		}
	}
}


.poster {

	margin: 30px 0;

	&__list {
		font-size: 0;
		margin: 0 -11px;
	}

	&__item {
		position: relative;
		display: inline-block;
		//width: 404px;
		//margin: 0 11px;

		width: (100%/3);
		@include box-sizing();
		padding: 0 12px;
	}

	&__title {
		font-size: 32px;
		font-family: 'bernier', sans-serif;
		color: #fff;
		position: absolute;
		top: 15px;
		left: 28px;
		right: 28px;
	}

	&__img {

		img {
			display: block;
			width: 100%;
		}
	}
}

.section_card {
	//overflow-x: hidden;
}

.card {
	margin: 20px 0 35px;

	&__list {

		margin: -12px;
		@include clearfix();

		&_slider {

			height: 454px;

			.slick {
				&-list {
					overflow: visible;
					position: relative;

					&:before,
					&:after {
						content: '';
						display: block;
						background: #fff;
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						z-index: 1;
					}

					&:before {
						left: -100%;
					}

					&:after {
						right: -100%;
						z-index: 1;
					}
				}

				&-arrow {
					width: 35px;
					height: 35px;
					background: $colorLightBlue 50% 50% no-repeat;
					border: none;
					@include border-radius(50%);
					position: absolute;
					top: -70px;
					right: 12px;
					cursor: pointer;

					&:hover {
						background-color: $colorLightBlueHover;
					}
				}

				&-prev {
					background-image: url("/img/slider-arrow-prev.svg");
					right: 67px;
				}

				&-next {
					background-image: url("/img/slider-arrow-next.svg");
				}
			}
		}

		&:hover {
			z-index: 10;
		}
	}

	&__item {
		width: 296px;
		height: 430px;
		position: relative;
		display: block;
		float: left;
		margin: 12px;

		&:hover {
			z-index: 10;

			.card__inner {
				border-color: $colorLightBlue;
			}
			.card__info_more {
				display: block;
			}
		}

		&_in {
			.card__info-price .price__status:before {
				background-image: url("/img/marker-in.svg");
				width: 12px;
				height: 8px;
			}
		}

		&_out {
			.card__info-price .price__status:before {
				background-image: url("/img/marker-out.svg");
				width: 10px;
				height: 10px;
			}
			.card__info-price .price__cur {
				color: #bcbcbc;
			}
			.card__info-buy .btn {
				background: #ff8683;
				border-color: #ff8683;

				&:hover {
					background: #ffa4a3;
					border-color: #ffa4a3;
				}
			}
		}

		&_order {
			.card__info-price .price__status:before {
				background-image: url("/img/marker-order.svg");
				width: 14px;
				height: 12px;
				top: 2px;
			}
			.card__info-buy .btn {
				background: #ffbd83;
				border-color: #ffbd83;

				&:hover {
					background: #ffcda2;
					border-color: #ffcda2;
				}
			}
		}
	}

	&__inner {
		border: 1px solid #ebebeb;
		@include box-sizing();
		padding: 15px;
		background: #fff;
		position: relative;
		min-height: 100%;
		display: block;
	}

	&__img {
		font-size: 0;
		text-align: center;
		height: 250px;
		margin-top: 22px;

		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}

		img {
			display: inline-block;
			vertical-align: middle;
			max-width: 100%;
			max-height: 100%;
		}
	}

	&__info {

		&-part {
			font-size: 12px;
			color: $colorGrey;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			margin-bottom: 4px;
		}

		&-title {
			font-size: 24px;
			font-family: 'bernier', sans-serif;
			color: $colorBlack;
			line-height: 1.2;
			height: 55px;
			overflow: hidden;
			margin-bottom: 8px;
		}

		&-price {

			white-space: nowrap;

			.price {

				&__old {
					font-size: 16px;
					color: #bcbcbc;
					font-family: 'bernier', sans-serif;
					display: inline-block;
					margin-right: 8px;
					vertical-align: baseline;
					position: relative;

					&:before {
						content: '';
						width: 110%;
						height: 1px;
						background: #bcbcbc;
						position: absolute;
						top: 50%;
						left: -5%;
						@include transform(rotate(-14deg));
					}
				}

				&__cur {
					font-size: 30px;
					font-family: 'bernier', sans-serif;
					color: $colorLightBlue;
					display: inline-block;
					vertical-align: baseline;

					span {
						font-size: 16px;
						font-family: 'Roboto', sans-serif;
						font-weight: 600;
					}
				}

				&__status {

					font-size: 12px;
					color: $colorGrey;
					font-weight: 500;
					display: inline-block;
					vertical-align: baseline;
					//float: right;
					margin-top: 16px;
					position: absolute;
					right: 14px;

					&:before {
						content: '';
						display: inline-block;
						width: 14px;
						height: 12px;
						margin-right: 5px;
						vertical-align: baseline;
						background-repeat: no-repeat;
						background-position: 50% 50%;
						position: relative;
					}
				}
			}
		}

		&-buy {
			.btn {
				display: block;
				margin: 10px 0 15px;
			}
		}

		&-text {
			font-size: 14px;
			line-height: 20px;
			margin-top: 15px;
		}

		&_more {
			display: none;
		}
	}

	.tag {
		position: absolute;
		top: 10px;
		left: 10px;
		right: 0;
	}

	&_part {

		.card__img {
			height: 230px;
			margin: 0 0 30px;
		}

		.card__item {
			height: auto;
		}

		.card__info {

			&-title {
				height: auto;
				margin-bottom: 3px;
			}

			&-part {

				span {
					color: $colorLightBlue;
				}
			}
		}
	}
}

.tag {
	font-size: 0;

	&__item {
		display: inline-block;
		@include user-select();
		font-size: 12px;
		height: 26px;
		line-height: 26px;
		padding: 0 12px;
		cursor: default;
		background: rgba(#561, 0.5);
		margin: 0 10px 10px 0;
		font-weight: 500;

		&_sale {
			color: #ff8683;
			background: #ffe7e6;
		}
		&_new {
			color: #7ace83;
			background: #e4f5e6;
		}
		&_hit {
			color: #ffbc83;
			background: #fff2e6;
		}
		&_recom {
			color: #7099cb;
			background: #e2ebf5;
		}
		&_more {
			color: #e274b0;
			background: #f9e3ef;
		}
	}
}

.section_announce {
	margin: 100px 0;
	position: relative;
	background: $colorDarkBlue;

	.inner{
		position: relative;
	}
}

.announce {

	&__list {
		color: #fff;
		@include clearfix();
		text-align: center;
		margin: 0 -12px;
		padding: 115px 0 65px;
	}

	&__item {
		width: 296px;
		margin: 0 12px;
		float: left;
		@include box-sizing();

		@include breakpoint($bp1) {
			width: 376px;
		}

		&_big {
			width: 616px;

			@include breakpoint($bp1) {
				width: 776px;
			}
		}
	}

	&__title {
		font-size: 48px;
		font-family: 'bernier', sans-serif;
		text-transform: lowercase;
		margin-bottom: 25px;
		line-height: 1.2;
	}

	&__text {
		font-size: 16px;
		color: #bdcddc;
		margin-bottom: 20px;
	}

}

.quicklinks {

	&__list {
		margin: -12px;
		@include clearfix();
	}

	&__item {
		margin: 12px;
		width: 296px;
		@include box-sizing();
		border: 1px solid #ebebeb;
		height: 387px;
		float: left;
		padding: 15px;
		font-size: 14px;

		&:hover {
			.quicklinks__img {
				.current {
					display: none;
				}
				.hover {
					display: inline-block;
				}
			}
		}
	}

	&__img {
		text-align: center;

		.current {
			display: inline-block;
		}
		.hover {
			display: none;
		}
	}

	&__title {
		color: #011426;
		font-size: 20px;
		font-family: 'bernier', sans-serif;
		text-transform: lowercase;
		text-align: center;
		margin-bottom: 20px;
	}

	&__links {

		a {
			display: inline-block;
			margin-right: 15px;
			border-bottom: 1px solid #bcbcbc;
			margin-bottom: 8px;

			&:hover {
				border-bottom-color: $colorLightBlue;
				color: $colorLightBlue;
			}
		}
	}
}

.section_text {
	margin: 40px 0 60px;
	.inner {
		@include clearfixBottom();
	}
}

.text {
	line-height: 1.42;
	margin: 0 -12px;

	&_half {
		float: left;

		.text__item {
			width: 616px;
			float: left;

			@include breakpoint($bp1) {
				width: 776px;
			}
		}
	}

	&__item {
		margin: 0 12px;
	}

	h3 {
		font-weight: 600;
		font-size: 16px;
		margin-bottom: 20px;
		margin-top: 30px;
	}

	p {
		margin-bottom: 15px;
	}

}

.breadcrumbs {

	margin: 30px 0;

	&__list {
	}

	&__item {
		display: inline-block;
		position: relative;
		margin-right: 37px;
		color: $colorLightBlue;

		&:before {
			content: '';
			width: 6px;
			height: 11px;
			display: block;
			background: url("/img/breadcrumbs-arrow.svg") no-repeat 50% 50%;
			position: absolute;
			top: 3px;
			left: -20px;
		}

		&:first-child {
			&:before {
				display: none;
			}
		}
	}
}

.section_delivery {

}

.delivery {

	margin: 30px 0 60px;

	&__item {
		margin: 0 0 -1px;
		border-top: 1px solid #f7f5f2;
		border-bottom: 1px solid #f7f5f2;

		&:hover {
			.delivery__info-item_main {
				.delivery__title {
					color: $colorLightBlue;
				}
			}
		}

		&.is-open {
			.delivery__more {
				display: block;
			}
			.delivery__showmore {
				background-image: url("/img/slider-arrow-up.svg");
			}
			.delivery__info-item_main .delivery__title {
				color: $colorLightBlue;
			}
		}
	}

	&__info {

		display: table;
		width: 100%;

		&-item {
			display: table-cell;
			text-align: center;
			width: 296px;
			padding: 23px 24px 23px 0;
			vertical-align: middle;

			&_big {
				width: 616px;
			}

			&_main {
				.delivery__title {
					color: $colorBlack;
				}

				@include breakpoint($bp1) {
					width: 616px;

					.delivery__img {
						display: inline-block;
						vertical-align: middle;
						width: 300px;
					}

					.delivery__title {
						display: inline-block;
						vertical-align: middle;
						width: 280px;
						text-align: left;
					}
				}
			}

			&:last-child {
				padding-right: 0;
			}
		}
	}

	&__img {
		margin-bottom: 10px;
	}

	&__text {
		font-size: 14px;
		font-weight: 500;
		margin-bottom: 6px;
	}

	&__title {
		font-size: 30px;
		font-family: 'bernier', sans-serif;
		color: $colorLightBlue;
	}

	&__showmore {
		width: 35px;
		height: 35px;
		background: $colorLightBlue url("/img/slider-arrow-bottom.svg") no-repeat 50% 50%;
		@include border-radius(50%);
		cursor: pointer;
		display: inline-block;

		&:hover {
			background-color: $colorLightBlueHover;
		}
	}

	&__more {
		display: none;
		background: #efefef;
		@include clearfix();

		&-text {
			float: left;
			width: 616px;
			margin-right: 24px;
			line-height: 24px;
			font-size: 14px;
			padding: 45px 0 25px 30px;
			@include box-sizing();

			p {
				margin-bottom: 25px;
			}

			@include breakpoint($bp1) {
				width: 930px;
			}
		}

		&-pay {
			float: left;
			width: 616px;
			text-align: center;
			padding: 45px 0;
			@include box-sizing();
			font-size: 0;
		}

		&-title {
			font-size: 24px;
			font-family: 'bernier', sans-serif;
			margin-bottom: 3px;
		}

		&-card {
			width: 277px;
			border: 1px solid #e1e1e1;
			font-size: 20px;
			font-family: 'bernier', sans-serif;
			display: inline-block;
			margin: 10px 12px;
			@include box-sizing();
			padding: 20px 0 16px;

			&-img {
				margin-bottom: 3px;

				img {
					margin: 0 5px;
				}
			}
		}
	}

}

.condition {
	margin: 60px 0;

	&__list {
		margin: 0 -12px -24px;
		font-size: 0;
	}

	&__item {
		background: #efefef;
		width: 296px;
		height: 290px;
		margin: 0 12px 24px;
		display: inline-block;
		overflow: hidden;
		@include box-sizing();
		padding: 130px 20px 20px;
		position: relative;
	}

	&__ico {
		position: absolute;
		top: 20px;
		left: 0;
	}

	&__title {
		font-size: 24px;
		font-family: 'bernier', sans-serif;
		position: relative;
		margin-bottom: 20px;
	}

	&__text {
		font-size: 14px;
		position: relative;
	}

}

.section_product {
	border-bottom: 1px solid #f7f5f2;
	@include clearfix();
	padding-bottom: 15px;

	.title {
		font-size: 36px;
		margin: 0;
		margin-bottom: 15px;
	}

}

.product {

	&__info {
		width: 616px;
		margin-right: 24px;
		float: left;

		&-title {
			font-size: 20px;
			font-family: 'bernier', sans-serif;
			margin-bottom: 20px;
			margin-top: 35px;
		}

		&-tag {
		}

		&-price {
			position: relative;
			margin-bottom: 30px;

			.price {
				display: inline-block;
				vertical-align: baseline;
				font-size: 48px;
				font-family: 'bernier', sans-serif;
				margin-right: 15px;
				color: $colorLightBlue;

				span {
					font-size: 18px;
					font-family: 'Roboto', sans-serif;
					font-weight: 600;
				}
			}
			.weight {
				display: inline-block;
				vertical-align: baseline;
				color: $colorGrey;
				font-size: 14px;
			}
			.status {
				display: inline-block;
				vertical-align: baseline;
				position: absolute;
				right: 0;
				top: 33px;

				&:before {
					content: '';
					display: inline-block;
					width: 14px;
					height: 12px;
					margin-right: 5px;
					vertical-align: baseline;
					background-repeat: no-repeat;
					background-position: 50% 50%;
					position: relative;
				}

				&_in {
					&:before {
						background-image: url("/img/marker-in.svg");
						width: 12px;
						height: 8px;
					}
				}

				&_out {
					&:before {
						background-image: url("/img/marker-out.svg");
						width: 10px;
						height: 10px;
					}
				}

				&_order {
					&:before {
						background-image: url("/img/marker-order.svg");
						width: 14px;
						height: 12px;
						top: 2px;
					}
				}

			}
		}

		&-delivery {
			margin-bottom: -25px;
			.delivery {
				&-item {
					display: inline-table;
					//overflow: hidden;
					vertical-align: top;
					font-size: 14px;
					margin: 0 25px 25px 0;

					&__img {
						width: 60px;
						display: table-cell;
						vertical-align: middle;
						padding-right: 10px;
						img {
							width: 100%;
						}
					}
					&__text {
						display: table-cell;
						vertical-align: middle;
					}
					&__link {
						margin-bottom: 7px;

						a {
							display: inline-block;
							border-bottom: 1px dotted $colorBlack;

							&:hover {
								border-bottom-color: transparent;
							}
						}

					}
					&__info {
						color: $colorLightBlue;
					}
				}
			}
		}

		&-pay {

			span {
				display: inline-block;
				margin-right: 15px;
				vertical-align: middle;
			}
		}

		&-order {
			font-size: 0;

			.order {

				&-sum {
					margin-right: 10px;
					vertical-align: top;
				}
			}

			.btn {
				height: 45px;
				padding: 0;
				width: 230px;
				vertical-align: top;
			}


		}
	}

	&__pic {

		width: 616px;
		float: left;
		font-size: 0;

		@include breakpoint($bp1) {
			width: 936px;
		}

		&-main {
			width: 616px;
			height: 360px;
			text-align: center;
			margin: 0 auto;

			@include breakpoint($bp1) {
				float: left;
				margin-right: 24px;
				height: 460px;
			}

			&:before {
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
			}

			img {
				display: inline-block;
				vertical-align: middle;
				max-height: 90%;
				max-width: 90%;
			}
		}

		&-preview {

			height: 145px;
			overflow: hidden;
			padding: 0 53px;
			@include box-sizing();

			@include breakpoint($bp1) {
				width: 296px;
				float: left;
				padding: 20px 68px;
				height: 460px;
			}

			.preview {
				margin: 0 auto;

				&_slider {
					.slick {
						&-arrow {
							position: absolute;
							top: 50%;
							cursor: pointer;
							width: 34px;
							height: 34px;
							line-height: 34px;
							text-align: center;
							@include box-sizing();
							padding-top: 8px;
							margin-top: -17px;

							@include breakpoint($bp1) {
								top: auto;
								margin-top: 0;
								left: 50%;
								margin-left: -17px;
							}

							svg {
								display: inline-block;
								fill: $colorLightBlue;
							}

							&:hover {

								svg {
									fill: $colorLightBlueHover;
								}
							}
						}
						&-prev {
							left: -60px;

							@include breakpoint($bp1) {
								left: 50%;
								top: -32px;
							}
						}
						&-next {
							right: -60px;

							@include breakpoint($bp1) {
								right: auto;
								bottom: -28px;
							}
						}
						&-disabled {
							svg {
								fill: #bcbcbc !important;
								cursor: default;
							}
						}
					}
				}

				&__item {
					width: 160px;
					height: 140px;
					@include box-sizing();
					float: left;
					padding: 4px;
				}

				&__link {
					width: 100%;
					height: 100%;
					display: block;
					border: 1px solid transparent;
					text-align: center;

					&:hover,
					&.is-active {
						border-color: $colorLightBlue;
					}

					&:before {
						content: '';
						display: inline-block;
						height: 100%;
						vertical-align: middle;
					}

					img {
						display: inline-block;
						vertical-align: middle;
						max-height: 100%;
						max-width: 100%;
					}
				}
			}
		}
	}
}

.order {

	&-sum {
		@include box-sizing();
		display: inline-block;
		height: 45px;
		border: 1px solid #e1e1e1;
		width: 136px;
		font-size: 0;
		font-weight: 600;
		@include user-select();

		&__less {
			width: 42px;
			height: 100%;
			cursor: pointer;
			position: relative;
			display: inline-block;
			vertical-align: top;
			border-right: 1px solid #e1e1e1;

			&:before {
				content: '';
				position: absolute;
				width: 10px;
				height: 2px;
				top: 50%;
				left: 50%;
				margin-left: -5px;
				margin-top: -1px;
				background: #5579a3;
			}

			&:hover {
				&:before,
				&:after {
					background: $colorLightBlueHover;
				}
			}
		}

		&__val {
			width: 48px;
			height: 100%;
			display: inline-block;
			text-align: center;
			color: #5579a3;
			font-size: 18px;
			line-height: 43px;
			vertical-align: top;
		}

		&__more {
			width: 42px;
			height: 100%;
			cursor: pointer;
			position: relative;
			display: inline-block;
			vertical-align: top;
			border-left: 1px solid #e1e1e1;

			&:before {
				content: '';
				position: absolute;
				width: 10px;
				height: 2px;
				top: 50%;
				left: 50%;
				margin-left: -5px;
				margin-top: -1px;
				background: #5579a3;
			}

			&:after {
				content: '';
				position: absolute;
				height: 10px;
				width: 2px;
				top: 50%;
				left: 50%;
				margin-left: -1px;
				margin-top: -5px;
				background: #5579a3;
			}

			&:hover {
				&:before,
				&:after {
					background: $colorLightBlueHover;
				}
			}
		}
	}

	&-add {
		line-height: 45px;
		margin-right: 10px;
	}

	&-get {
		line-height: 41px;
		background: none;
		border: 2px solid $colorLightBlue;
		color: $colorLightBlue;

		&:hover {
			color: $colorLightBlueHover;
			border-color: $colorLightBlueHover;
		}
	}
}


.section_description {
	margin-bottom: 140px;
	.inner {
		@include clearfix();
	}

	.section__aside {
		width: 296px;
		float: left;
		margin-top: 40px;
	}
}

.description {

	float: left;
	width: 936px;
	margin-right: 24px;

	@include breakpoint($bp1) {
		width: 1256px;
	}

	.title {
		margin: 35px 0;
	}

	&__table {
		font-size: 14px;
		line-height: 30px;
		width: 616px;
		margin-right: 24px;
		float: left;

		&-item {

			margin-left: -10px;
			padding-left: 10px;

			&:nth-of-type(2n-1) {
				background: #f7f5f2;
			}
		}
	}

	&__text {
		//width: 296px;
		//float: left;
		margin-left: 640px;
		font-size: 14px;
		line-height: 24px;

		h3 {
			font: inherit;
			margin-bottom: 25px;
			font-weight: 600;
		}
	}
}

.consult {
	background: $colorDarkBlue;
	color: #bdcddc;
	text-align: center;
	padding: 75px 25px 0;
	@include box-sizing();
	min-height: 405px;

	&-title {
		font-size: 30px;
		font-family: 'bernier', sans-serif;
		color: #fff;
		margin-bottom: 30px;
	}

	&-text {

	}
}

.section_feedback {

	.inner {
		@include clearfix();
	}

	.feedback {
		width: 936px;
		float: left;
		margin-right: 24px;

		@include breakpoint($bp1) {
			width: 1256px;
		}

	}

	.section__aside {
		width: 296px;
		float: left;
	}
}

.feedback {
	font-size: 14px;

	.title {
		margin: 20px 0;
	}

	&__add {

		margin-left: 320px;
		margin-top: -55px;
		margin-bottom: 20px;

		.btn {
			width: 190px;
		}
	}

	&__item {
		overflow: hidden;
		margin: 0 -12px;
		padding: 35px 12px;
		border-bottom: 1px solid #f7f5f2;
	}

	&__sender {
		width: 296px;
		float: left;
		margin-right: 24px;

		&-name {
			font-weight: 600;
			margin-bottom: 10px;
		}

		&-date {
			color: #a4a4a4;
		}

	}

	&__content {
		line-height: 24px;
		//width: 616px;
		//float: left;
		margin-left: 320px;
	}

	&-more {
		font-size: 16px;
		line-height: 21px;
		text-align: center;
		display: block;
		color: $colorLightBlue;

		&__img {
			width: 230px;
			height: 210px;
			border: 1px solid $colorLightBlue;
			margin: 0 auto 35px;
		}

		&__text {

		}
	}
}

.feedbacks {
	&__item {
		padding: 35px 0;
		overflow: hidden;
		margin-bottom: -1px;
		border-top: 1px solid #f7f5f2;
		border-bottom: 1px solid #f7f5f2;
	}

	&__img {
		width: 296px;
		float: left;
		margin-right: 24px;

		img {
			display: block;
			margin: 0 auto;
			max-width: 200px;
			max-height: 150px;
		}
	}

	&__product {
		width: 296px;
		float: left;
		margin-right: 24px;
		font-family: 'bernier', sans-serif;

		&-name {
			font-size: 20px;
			margin-bottom: 10px;
		}

		&-price {
			color: $colorLightBlue;
			font-size: 21px;

			span {
				font-size: 12px;
				font-family: 'Roboto', sans-serif;
			}
		}
	}

	&__text {
		margin-left: 640px;
		font-size: 14px;
		line-height: 24px;

		&-info {
			margin-bottom: 10px;
		}

		&-name {
			display: inline-block;
			font-weight: 600;
		}

		&-date {
			display: inline-block;
			color: #a4a4a4;
		}

		&-content {
			p {
			}
		}
	}
}



.section_faq {
	margin-bottom: 60px;

	.title {
		margin-bottom: 10px;
	}
}

.faq {

	&__nav {
		width: 296px;
		margin-right: 24px;
		float: left;
		font-size: 30px;
		font-family: 'bernier', sans-serif;
		padding: 35px 0;

		&-item {
			margin-bottom: 10px;
		}

		&-link {
			&.is-active {
				color: $colorLightBlue;
			}
		}
	}

	&__content {
		margin-left: 320px;
	}

	&__item {

		border-bottom: 1px solid #f7f5f2;
		position: relative;

		&-q {
			font-family: 'bernier', sans-serif;
			font-size: 30px;
			cursor: pointer;
			position: relative;
			padding: 35px 296px 35px 0;
			@include user-select();

			&:before {
				content: '';
				width: 35px;
				height: 35px;
				background: $colorLightBlue url("/img/slider-arrow-bottom.svg") no-repeat 50% 50%;
				@include border-radius(50%);
				cursor: pointer;
				display: inline-block;
				position: absolute;
				top: 50%;
				margin-top: -18px;
				right: 130px;
			}
		}

		&-a {
			font-size: 14px;
			line-height: 24px;
			background: #efefef;
			padding: 20px 30px;
			display: none;

			p {
				margin: 25px 0;
			}
		}

		&:hover {
			.faq__item-q {
				color: $colorLightBlue;
			}
		}

		&.is-open {
			.faq__item-q {
				&:before {
					background-image: url("/img/slider-arrow-up.svg");
				}
			}
			.faq__item-a {
				display: block;
			}
		}
	}
}

.section_login {

	.title {
		text-align: center;
		margin: 50px 0 70px;
	}

	&-line {
		.inner {
			width: auto;
		}
	}

}

.login {

	&__menu {
		text-align: center;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 25px;

		&-item {

			cursor: pointer;
			width: 296px;

			&.is-active {
				.login__menu-title {
					color: $colorLightBlue;
				}
			}

		}

		&-title {
			font-size: 30px;
			font-family: 'bernier', sans-serif;
			margin-bottom: 10px;
		}

		&-text {
			font-size: 16px;
			color: $colorGrey;
		}
	}

	&__content {

		&-item {
			display: none;

			&.is-active {
				display: block;
			}
		}

		&-form {
			width: 465px;
			margin: 0 auto;

			.form {

				@include clearfix();
				margin: 90px 0;

				&_auth {

					.form__field_checkbox {
						float: left;
						margin-top: 40px;
					}

					.form__field_submit {
						float: right;
						margin-top: 25px;
					}
				}

				&_recovery {
					margin-top: 0;

					.form__info {
						background: url("/img/hook-pass-recovery.svg") no-repeat 0 0;
						padding: 60px 0 0 85px;
						color: $colorLightBlue;
						font-size: 16px;
						margin-bottom: 45px;
					}
					.form__field_submit {
						text-align: center;
						margin-top: 50px;
					}
				}

				&_reg {

					.form__info {
						background: url("/img/hook-pass-recovery.svg") no-repeat 0 0;
						padding: 60px 0 0 85px;
						color: $colorLightBlue;
						font-size: 16px;
						margin-bottom: 45px;
					}
					.form__field_submit {
						text-align: center;
						margin-top: 50px;
					}
				}
			}
		}
	}

}

.form {

	&__row {
		margin: 0 -12px;
		font-size: 0;
	}

	&__col {
		display: inline-block;
		vertical-align: top;
		width: 100%;
		padding: 0 12px;
		@include box-sizing();
		font-size: 14px;

		&_2 {
			width: 50%;
			&-3 {
				width: 50%;
			}
		}

		&_2-3 {
			width: ((2 * 100%) / 3);
		}


		&_3 {
			width: (100% / 3);
		}

		&_4 {
			width: 25%;
		}
	}

	&__field {
		margin: 15px 0;

		&_checkbox {
			input {
				vertical-align: middle;
			}
			label {
				vertical-align: middle;
			}

			.form__footnote {
				margin-left: 35px;
				font-style: normal;
				margin-top: 3px;
			}
		}

		&_text {
			line-height: 1.3;
		}

		&_submit {
			.form__footnote {
				color: $colorLightBlue;
				font-style: normal;
				margin-top: 50px;
			}
		}

		&.error {
			.form__error {
				display: block;
			}
		}
	}

	&__label {
		font-size: 14px;
		margin-bottom: 17px;
	}

	&__input {
		position: relative;
	}

	&__error {
		font-size: 12px;
		color: $colorError;
		margin-top: 8px;
		display: none;
	}

	&__footnote {
		font-size: 12px;
		font-style: italic;
		color: $colorGrey;
		margin-top: 8px;
	}
}

.section_filter {
	background: #efefef;

	.inner {
		@include clearfix();
	}

}

.filter {

	margin: 35px 0 25px;

	&__list {
		@include clearfix();
	}

	&__item {
		float: left;
		margin-right: 60px;
	}

	&__item {

		&_range {
		}
	}

	&__title {
		font-size: 14px;
		color: $colorLightBlue;
		font-weight: 600;
		margin-bottom: 10px;
	}

	&__result {
		float: right;
		white-space: nowrap;
		margin-top: 5px;

		&-text {
			display: inline-block;
			height: 35px;
			line-height: 35px;
			margin-right: 20px;
			font-size: 14px;
			color: $colorLightBlue;
		}

		&-btn {
			margin-left: 7px;
			min-width: 130px;
		}
	}

	&-range {
		width: 200px;
		margin: 20px 5px 40px;
		input {
			display: none;
		}
	}

	&-checkbox {
		margin-bottom: 10px;

		input {
			vertical-align: middle;
			margin-right: 5px;
		}

		label {
			vertical-align: middle;
			font-size: 14px;
		}
	}
}

.sorter {
	font-size: 14px;
	margin: 25px 0;

	&-name {
		display: inline-block;
		font-weight: 600;
	}
	&-link {
		display: inline-block;
		text-decoration: underline;
		margin-left: 14px;

		&:hover {
			text-decoration: none;
		}

		&.is-active {
			color: $colorLightBlue;
		}
	}
}

.contacts {
	margin-bottom: 20px;
	&__item {
		overflow: hidden;
		border-top: 1px solid #f7f5f2;

		&-img {
			float: left;
			width: 296px;
			margin-right: 24px;
			padding: 15px 0;
		}

		&-title {
			float: left;
			width: 296px;
			margin-right: 24px;
			padding: 35px 0;
		}

		&-info {
			margin-left: 640px;
			padding: 35px 0;
		}

	}

	&__img {
		width: 142px;
		height: 126px;
		display: block;
		margin: 0 auto;
		font-size: 0;
		text-align: center;
		border: 1px solid $colorLightBlue;

		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}

		img {
			display: inline-block;
			vertical-align: middle;
			max-height: 100%;
			max-width: 100%;
		}
	}

	&__title {
		font-size: 30px;
		font-family: 'bernier', sans-serif;
	}

	&__info {

		&-title {
			font-size: 30px;
			font-family: 'bernier', sans-serif;
			color: $colorLightBlue;
			margin-bottom: 10px;

			.soc__item {
				vertical-align: middle;
			}

			a {
				text-decoration: underline;
				display: inline-block;
				vertical-align: middle;

				&:hover {
					text-decoration: none;
				}
			}
		}

		&-text {
			font-size: 14px;
			line-height: 24px;
		}
	}
}

.line {
	background: #ebebeb;
	height: 1px;
	position: relative;

	&-handler {
		position: absolute;
		top: -1px;
		height: 3px;
		background: $colorLightBlue;
		width: 0;
		@include transition(left 0.3s ease);
	}
}

.section_cart {
	.inner {
		@include clearfix();
	}
}

.cart {

	&__menu {
		text-align: center;
		margin-top: 90px;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 25px;

		&-item {

			cursor: default;
			width: 296px;

			&.is-active {
				color: $colorLightBlue;
			}

		}

		&-title {
			font-size: 30px;
			font-family: 'bernier', sans-serif;
			margin-bottom: 10px;
			display: inline-block;
		}

		&-text {
			font-size: 16px;
			color: $colorGrey;
		}
	}

	&__list {

		&-item {
			@include clearfix();
		}

		&-img {
			float: left;
			width: 296px;
			margin-right: 24px;
			font-size: 0;
			text-align: center;
			padding: 30px 0 10px;

			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}

			img {
				display: inline-block;
				vertical-align: middle;
				max-width: 150px;
			}
		}

		&-info {
			float: left;
			width: 296px;
			margin-right: 24px;
			padding: 60px 0;

			@include breakpoint($bp1) {
				width: 616px;
			}
		}

		&-part {
			font-size: 12px;
			color: $colorGrey;
			margin-bottom: 3px;
		}

		&-sum {
			float: left;
			width: 296px;
			margin-right: 24px;
			padding: 50px 0;
		}

		&-name {
			font-size: 24px;
			font-family: 'bernier', sans-serif;
		}

		&-cost {
			float: left;
			width: 296px;
			padding: 70px 0 30px;
			position: relative;
		}

		&-oldprice {
			font-size: 16px;
			color: #bcbcbc;
			font-family: 'bernier', sans-serif;
			display: inline-block;
			margin-right: 8px;
			vertical-align: baseline;
			position: relative;

			&:before {
				content: '';
				width: 110%;
				height: 1px;
				background: #bcbcbc;
				position: absolute;
				top: 50%;
				left: -5%;
				@include transform(rotate(-14deg));
			}
		}

		&-price {
			font-size: 30px;
			font-family: 'bernier', sans-serif;
			color: $colorLightBlue;
			display: inline-block;

			span {
				font-size: 16px;
				font-family: 'Roboto', sans-serif;
			}
		}

		&-clear {
			display: inline-block;
			width: 23px;
			height: 29px;
			background: url("/img/ico-cart-clear.svg") no-repeat 50% 50%;
			position: absolute;
			right: 0;
			cursor: pointer;

			&:hover {
				opacity: 0.7;
			}
		}

	}

	&__result {

		width: 296px;
		float: right;
		margin-top: 25px;
		margin-bottom: 35px;

		&-clear {
			display: table;
			width: 100%;
			margin-bottom: 15px;
		}

		&-title {
			font-size: 24px;
			font-weight: 500;
			display: table-cell;
		}

		&-cost {
			display: table;
			width: 100%;
			margin-bottom: 15px;
		}

		&-bin {
			display: table-cell;
			text-align: right;
			vertical-align: middle;

			i {
				display: inline-block;
				width: 23px;
				height: 29px;
				background: url("/img/ico-cart-clear_b.svg") no-repeat 50% 50%;
				cursor: pointer;
			}
		}
		&-price {
			text-align: right;
			font-size: 45px;
			font-family: 'bernier', sans-serif;
			color: $colorLightBlue;
			display: table-cell;

			span {
				font-size: 24px;
				font-family: 'Roboto', sans-serif;
			}
		}

		&-footnote {
			font-size: 14px;
			color: $colorGrey;
			text-align: right;
		}
	}

	&__btns {
		text-align: right;
		@include clearfix();
		margin-bottom: 60px;

		.btn {
			padding: 10px 38px;
			margin-left: 5px;

			&_link {
				padding: 10px 20px 10px 30px;
				background: url("/img/arrow-back.svg") no-repeat 0px 50%;
			}
		}
	}

	&__preview {
		margin-left: 960px;
		margin-top: 35px;
		margin-bottom: 60px;
		@include box-sizing();
		position: relative;

		&-inner {
			background: #efefef;
			padding: 5px;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			@include box-sizing();
		}

		&-item {
			background: #fff;
			margin-bottom: 1px;
			overflow: hidden;
			position: relative;
			padding: 15px;

			@include breakpoint($bp1) {
				padding: 0;
			}
		}

		&-img {
			width: 200px;
			height: 150px;
			margin: 0 auto;
			font-size: 0;
			text-align: center;

			@include breakpoint($bp1) {
				float: left;
				width: 130px;
				height: 130px;
			}

			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}

			img {
				display: inline-block;
				vertical-align: middle;
				max-width: 80%;
				max-height: 80%;
			}
		}

		&-name {
			font-size: 24px;
			font-family: 'bernier', sans-serif;
			margin-top: 15px;
			margin-bottom: 5px;

			@include breakpoint($bp1) {
				margin-left: 153px;
				min-height: 70px;
			}
		}

		&-sum {
			font-size: 14px;
			color: $colorGrey;

			@include breakpoint($bp1) {
				margin-left: 153px;
				margin-bottom: 15px;
			}

			span {
				font-size: 18px;
				color: $colorLightBlue;
				font-weight: 600;
			}
		}

		&-price {
			font-size: 30px;
			font-family: 'bernier', sans-serif;
			color: $colorLightBlue;
			display: inline-block;
			bottom: 10px;
			right: 15px;

			@include breakpoint($bp1) {
				position: absolute;
			}

			span {
				font-size: 16px;
				font-family: 'Roboto', sans-serif;
				font-weight: 600;
			}
		}

		&-footer {
			margin: 0 -5px;
			padding: 15px;

			@include breakpoint($bp1) {
				padding: 15px 30px;
			}
		}

		hr {
			background: #fff;
			margin: 0 -5px;
		}

		&-info {
			display: table;
			width: 100%;

			&-name {
				font-size: 18px;

				@include breakpoint($bp1) {
					display: table-cell;
				}
			}

			&-val {
				font-size: 30px;
				font-family: 'bernier', sans-serif;
				margin-bottom: 10px;

				@include breakpoint($bp1) {
					display: table-cell;
					text-align: right;
					margin-bottom: 0;
				}

				span {
					font-size: 16px;
					font-family: 'Roboto', sans-serif;
					font-weight: 600;
				}
			}
		}

		&-cost {
			display: table;
			width: 100%;

			&-name {
				font-size: 24px;
				font-weight: 600;

				@include breakpoint($bp1) {
					display: table-cell;
				}
			}

			&-val {
				font-size: 45px;
				font-family: 'bernier', sans-serif;
				color: $colorLightBlue;

				@include breakpoint($bp1) {
					display: table-cell;
					text-align: right;
				}

				span {
					font-size: 24px;
					font-family: 'Roboto', sans-serif;
					font-weight: 600;
				}
			}
		}

	}

	&__order {
		width: 936px;
		float: left;
		margin-bottom: 60px;
		margin-top: -35px;
		&-title {
			font-size: 24px;
			font-family: 'bernier', sans-serif;
			margin: 50px 0 30px;
		}

		&-form {

			&_contact {

			}

			&_address {
				.btn {
					width: 270px;
					padding: 10px;

					span {
						border-bottom: 1px dotted #fff;
					}
				}

				.input-datepicker {
					padding: 0 45px;
					background: url("/img/ico-input-date_grey.svg") no-repeat top 50% left 10px,
					url("/img/ico-input-arrow_grey.svg") no-repeat top 50% right 10px;

					&:focus {
						background: url("/img/ico-input-date_active.svg") no-repeat top 50% left 10px,
						url("/img/ico-input-arrow_active.svg") no-repeat top 50% right 10px;
					}
				}

				.input-time {
					padding: 0 45px;
					background: url("/img/ico-input-time_grey.svg") no-repeat top 50% left 10px,
					url("/img/ico-input-arrow_grey.svg") no-repeat top 50% right 10px;

					&:focus {
						background: url("/img/ico-input-time_active.svg") no-repeat top 50% left 10px,
						url("/img/ico-input-arrow_active.svg") no-repeat top 50% right 10px;

						& ~ .timepicker {
							display: block;
						}
					}

				}

				.timepicker {
					position: absolute;
					border: 1px solid $colorLightBlue;
					top: 42px;
					left: 0;
					z-index: 100;
					display: none;
					width: 100%;
					@include box-sizing();
					background: #fff;

					&__list {
					}
					&__item {
						padding: 10px;
						cursor: pointer;

						&.is-disable {
							color: $colorGrey !important;
							cursor: default;
						}

						&:hover {
							color: $colorLightBlue;
						}
					}
				}

			}

			&_delivery {
				margin-bottom: 50px;

				input {
					opacity: 0;
					position: absolute;

					&:checked {
						& + .delivery-radio {
							border-color: $colorLightBlue;
							background: url("/img/delivery-check.svg") no-repeat 15px 15px;

							.delivery-radio__cost {
								color: $colorLightBlue;
							}
						}
					}

					&:disabled {
						& + .delivery-radio {
							border-color: #e1e1e1;

							img {
								opacity: 0.7;
								@include greyscale('gray');
							}

							* {
								color: $colorGrey !important;
							}
						}
					}
				}

				.delivery-radio {
					display: block;
					border: 1px solid #e1e1e1;
					padding: 25px;
					overflow: hidden;

					&__img {
						width: 110px;
						height: 130px;
						display: block;
						margin: 0 auto;
						font-size: 0;
						text-align: center;
						float: left;

						&:before {
							content: '';
							display: inline-block;
							vertical-align: middle;
							height: 100%;
						}

						img {
							display: inline-block;
							vertical-align: middle;
							max-height: 100%;
							max-width: 100%;
						}
					}
					&__title {
						margin-left: 145px;
						font-size: 20px;
						font-family: 'bernier', sans-serif;
						margin-bottom: 15px;
					}
					&__text {
						margin-left: 145px;
						font-size: 14px;
						margin-bottom: 15px;
						line-height: 20px;
					}
					&__cost {
						margin-left: 145px;
						font-size: 24px;
						font-family: 'bernier', sans-serif;
						color: $colorGrey;
					}
				}
			}

			&_payment {
				margin-bottom: 50px;

				input {
					opacity: 0;
					position: absolute;

					&:checked {
						& + .payment-radio {
							border-color: $colorLightBlue;
							background: url("/img/delivery-check.svg") no-repeat 15px 15px;

						}
					}
				}

				.payment-radio {
					display: block;
					border: 1px solid #e1e1e1;
					padding: 25px;
					overflow: hidden;

					&__img {
						width: 110px;
						height: 105px;
						display: block;
						margin: 0 auto;
						font-size: 0;
						text-align: center;
						float: left;

						&:before {
							content: '';
							display: inline-block;
							vertical-align: middle;
							height: 100%;
						}

						img {
							display: inline-block;
							vertical-align: middle;
							max-height: 100%;
							max-width: 100%;
						}
					}
					&__title {
						margin-left: 145px;
						font-size: 20px;
						font-family: 'bernier', sans-serif;
						margin-bottom: 15px;
					}
					&__text {
						margin-left: 145px;
						font-size: 14px;
						line-height: 20px;
					}
				}

			}

			&_submit {
				input {
					width: 100%;
				}
				.form__field_text {
					padding: 5px 0;
					line-height: 1.3;
				}
			}
		}
	}

	&__details {
		margin-right: 24px;
		float: left;
		width: 936px;
		margin-bottom: 50px;
		margin-top: -40px;

		&-title {
			font-size: 30px;
			font-family: 'bernier', sans-serif;
			margin-bottom: 15px;
			margin-top: 40px;

			span {
				color: $colorLightBlue;
			}
		}

		&-text {
			font-size: 14px;
			line-height: 30px;
		}

		&-map {
			height: 315px;
			margin: 30px 0;

			#map-details {
				height: 100%;
				width: 100%;
			}
		}
	}

	&__comment {
		margin-left: 960px;
		margin-top: 55px;
		margin-bottom: 50px;

		&-text {
			font-size: 24px;
			font-family: 'bernier', sans-serif;
			margin-bottom: 10px;
		}
	}
}












.section_map {
	#map-wrap {
		height: 470px;
		width: 100%;
	}

	[class*="ymaps-2"][class*="-ground-pane"] {
		@include greyscale(grey);
	}

	[class*="ymaps-2"][class*="-copyrights-promo"],
	[class*="ymaps-2"][class*="-copyrights-pane"] {
		display: none;
	}

}

