
.tooltip {
	position: absolute;
	display: none;
	text-align: center;
	margin-top: 12px;

	&:before {
		content: '';
		display: block;
		border: 6px solid transparent;
		border-bottom-color: $colorBlack;
		position: absolute;
		left: 0;
		margin-left: -6px;
		top: -12px;
	}

	span {
		display: inline-block;
		padding: 5px 10px;
		background: $colorBlack;
		color: #fff;
		position: relative;
		left: -50%;
	}

	&.show {
		display: block;
	}

}

.overflow_hidden {
	overflow: hidden;
}

.popup{
	display: none;
	color: #343434;

	&-inner{
		height: 100%;
		left: 0;
		overflow: auto;
		position: fixed;
		text-align: center;
		top: 0;
		white-space: nowrap;
		width: 100%;
		z-index: 102;

		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}

	}

	&-layout{
		background-color: white;
		box-sizing: border-box;
		display: inline-block;
		margin: 10px auto;
		padding: 60px;
		position: relative;
		vertical-align: middle;
		white-space: normal;
		width: 710px;
		z-index: 102;
		@include box-sizing();
	}

	&-close{
		width: 40px;
		height: 40px;
		position: absolute;
		cursor: pointer;
		background: #ddd;
		top: 20px;
		right: 20px;
		background: url("/img/close-btn-h.svg") no-repeat 50% 50%;
		background: url("/img/close-btn.svg") no-repeat 50% 50%;

		&:hover{
			background: url("/img/close-btn-h.svg") no-repeat 50% 50%;
		}
	}

	&-overlay{
		background-color: rgba(0, 0, 0, 0.7);
		display: block;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 101;
	}

	&-title {
		font-size: 30px;
		font-family: 'bernier', sans-serif;
		margin: 35px 0 25px;
	}

	&-name {
		font-size: 30px;
		font-family: 'bernier', sans-serif;
		margin: 25px 0;
		color: $colorLightBlue;
	}

	&-text {
		font-size: 16px;
		color: $colorGrey;
		margin-bottom: 55px;

		span {
			color: $colorLightBlue;
		}
	}

	&-link {
		.btn {
			padding: 0 20px;
			height: 45px;
			line-height: 45px;
			min-width: 130px;
		}
	}

	&_map {

		.popup-layout {
			width: 1275px;

			@include breakpoint($bp1) {
				width: 1575px;
			}
		}
	}

	&-order {
		text-align: left;
		overflow: hidden;
		margin-bottom: 20px;
		margin-top: 40px;
		display: table;
		width: 100%;

		&__img {
			width: 120px;
			display: table-cell;
			padding-right: 25px;
			vertical-align: middle;
			height: 110px;
			text-align: center;

			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}

			img {
				display: inline-block;
				vertical-align: middle;
				max-width: 100%;
				max-height: 100%;
			}
		}

		&__text {
			width: 305px;
			padding-right: 25px;
			display: table-cell;
			vertical-align: top;
			font-size: 24px;
			font-family: 'bernier', sans-serif;
		}

		&__cost {
			display: table-cell;
			width: 105px;
			vertical-align: top;
		}

		&__price {
			white-space: nowrap;
			font-size: 30px;
			font-family: 'bernier', sans-serif;
			color: $colorLightBlue;
			display: inline-block;

			span {
				font-size: 16px;
				font-family: 'Roboto', sans-serif;
			}
		}

		&__footnote {
			font-size: 10px;
			font-style: italic;
			color: #a4a4a4;
		}
	}

	&-form {
		background: #efefef;
		margin: 0 -60px 20px;
		padding: 20px 60px;
		text-align: left;

		textarea,
		input {
			background: #fff;
		}
	}

	.form {

		&__field {
			margin: 10px 0;

			&_text {
				color: #a4a4a4;
			}

			&_submit {
				margin-bottom: 0;
				.btn {
					min-width: 200px;
				}
			}
		}

		&__label {
			margin-bottom: 5px;
		}
	}

	&-map {
		height: 420px;
		margin: 60px -60px 20px;
		background: #dddddd;

		#map-address {
			width: 100%;
			height: 100%;
		}
	}

	&-addres {
		width: 936px;
		margin: 0 auto;
		overflow: hidden;
		text-align: left;

		.form__label {
			margin-bottom: 15px;
		}

		&__field {
			width: 787px;
			float: left;
			margin-right: 24px !important;
		}

		&__submit {
			width: 125px;
			float: left;
			max-height: 24px;

			.btn {
				min-width: 100% !important;
				padding: 10px;
			}
		}
	}
}

