/* CSS Reset section */

html {
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
	font-size: 100.01%;
	//min-width: 1000px;
	min-height: 580px;
	min-width: $minWidth;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 1.2;
	font-family: 'Roboto', sans-serif;
	background-repeat: no-repeat;
	background-position: 50% 0;
	color: $colorBlack;
	opacity: 1!important;
	//	-webkit-transform:translate3d(0,0,0);
}

article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section {
	display: block;
}

* {
	padding: 0;
	margin: 0;
	outline: none;

	&:focus {
		outline: none;
	}
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	border: 0;
}

a, a:focus, a img, a img:focus {
	outline: 0 none;
}

a, a img, textarea, input {
	outline: 0 none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font: inherit;
	color: inherit;
	text-decoration: none;
}


h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0;
}

p {
	margin: 0;
}

dl, dt, dd {
	margin :0;
}

textarea {
	overflow: auto;
}

label {
	@include user-select();
}
textarea,
select,
input[type=text],
input[type=password] {
	background: transparent;
	resize: none;

	border: 1px solid #e1e1e1;
	padding: 13px 20px 14px;
	display: block;
	width: 100%;
	@include box-sizing();

	&:focus {
		border-color: $colorLightBlue;
	}

	&::-webkit-input-placeholder {
		text-overflow: ellipsis;
		font-style: italic;
		font-size: 12px;
	}
	&::-moz-placeholder {
		text-overflow: ellipsis;
		font-style: italic;
		font-size: 12px;
	}
	/* Firefox 19+ */
	&:-moz-placeholder {
		text-overflow: ellipsis;
		font-style: italic;
		font-size: 12px;
	}
	/* Firefox 18- */
	&:-ms-input-placeholder {
		text-overflow: ellipsis;
		font-style: italic;
		font-size: 12px;
	}

	.error & {
		border-color: $colorError;
	}
}

textarea {
	resize: none;
	height: 100px;
}
input {
	&[type=text],
	&[type=password] {
		padding: 0 20px;
		line-height: 43px;
		height: 43px;
	}
	&[type=checkbox] {
		width: 16px;
		height: 16px;
		padding: 0;
		display: inline-block;
		margin-right: 15px;

		background: #fff;
		border: 1px solid #e1e1e1;

		&:checked {
			background: $colorLightBlue url("/img/checkbox.png") no-repeat 50% 50%;
			border-color: $colorLightBlue;

			&:hover {
				background: $colorError url("/img/checkbox-del.png") no-repeat 50% 50%;
				border-color: $colorError;
			}
		}
	}

	&[type=submit] {
		padding: 12px 40px;
		min-width: 130px;
		text-align: center;
	}
}

sup.required {
	width: 9px;
	height: 9px;
	display: inline-block;
	background: url("/img/require-star.svg");
	margin-left: 5px;
	margin-top: -5px;
}

/* mixins */
@mixin clearfix(){
	&:before {
		content: "";
		clear: both;
		display: table;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin clearfixBottom() {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}


.clearfix {
	@include clearfix();
}

.red {
	color: $colorError;
}